/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type PurchaseOrderCartsCartIdPaymentInformationAPI interface {

	/*
		GetV1PurchaseordercartsCartIdPaymentinformation purchase-order-carts/{cartId}/payment-information

		Get payment information

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId
		@return ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest
	*/
	GetV1PurchaseordercartsCartIdPaymentinformation(ctx context.Context, cartId int32) ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest

	// GetV1PurchaseordercartsCartIdPaymentinformationExecute executes the request
	//  @return CheckoutDataPaymentDetailsInterface
	GetV1PurchaseordercartsCartIdPaymentinformationExecute(r ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest) (*CheckoutDataPaymentDetailsInterface, *http.Response, error)

	/*
		PostV1PurchaseordercartsCartIdPaymentinformation purchase-order-carts/{cartId}/payment-information

		Set payment information and place order for a specified cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId
		@return ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest
	*/
	PostV1PurchaseordercartsCartIdPaymentinformation(ctx context.Context, cartId int32) ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest

	// PostV1PurchaseordercartsCartIdPaymentinformationExecute executes the request
	//  @return int32
	PostV1PurchaseordercartsCartIdPaymentinformationExecute(r ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest) (int32, *http.Response, error)
}

// PurchaseOrderCartsCartIdPaymentInformationAPIService PurchaseOrderCartsCartIdPaymentInformationAPI service
type PurchaseOrderCartsCartIdPaymentInformationAPIService service

type ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest struct {
	ctx        context.Context
	ApiService PurchaseOrderCartsCartIdPaymentInformationAPI
	cartId     int32
}

func (r ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest) Execute() (*CheckoutDataPaymentDetailsInterface, *http.Response, error) {
	return r.ApiService.GetV1PurchaseordercartsCartIdPaymentinformationExecute(r)
}

/*
GetV1PurchaseordercartsCartIdPaymentinformation purchase-order-carts/{cartId}/payment-information

Get payment information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId
	@return ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest
*/
func (a *PurchaseOrderCartsCartIdPaymentInformationAPIService) GetV1PurchaseordercartsCartIdPaymentinformation(ctx context.Context, cartId int32) ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest {
	return ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return CheckoutDataPaymentDetailsInterface
func (a *PurchaseOrderCartsCartIdPaymentInformationAPIService) GetV1PurchaseordercartsCartIdPaymentinformationExecute(r ApiGetV1PurchaseordercartsCartIdPaymentinformationRequest) (*CheckoutDataPaymentDetailsInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CheckoutDataPaymentDetailsInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderCartsCartIdPaymentInformationAPIService.GetV1PurchaseordercartsCartIdPaymentinformation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/purchase-order-carts/{cartId}/payment-information"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest struct {
	ctx                                      context.Context
	ApiService                               PurchaseOrderCartsCartIdPaymentInformationAPI
	cartId                                   int32
	postV1CartsMinePaymentinformationRequest *PostV1CartsMinePaymentinformationRequest
}

func (r ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest) PostV1CartsMinePaymentinformationRequest(postV1CartsMinePaymentinformationRequest PostV1CartsMinePaymentinformationRequest) ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest {
	r.postV1CartsMinePaymentinformationRequest = &postV1CartsMinePaymentinformationRequest
	return r
}

func (r ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.PostV1PurchaseordercartsCartIdPaymentinformationExecute(r)
}

/*
PostV1PurchaseordercartsCartIdPaymentinformation purchase-order-carts/{cartId}/payment-information

Set payment information and place order for a specified cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId
	@return ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest
*/
func (a *PurchaseOrderCartsCartIdPaymentInformationAPIService) PostV1PurchaseordercartsCartIdPaymentinformation(ctx context.Context, cartId int32) ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest {
	return ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return int32
func (a *PurchaseOrderCartsCartIdPaymentInformationAPIService) PostV1PurchaseordercartsCartIdPaymentinformationExecute(r ApiPostV1PurchaseordercartsCartIdPaymentinformationRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderCartsCartIdPaymentInformationAPIService.PostV1PurchaseordercartsCartIdPaymentinformation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/purchase-order-carts/{cartId}/payment-information"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CartsMinePaymentinformationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
