/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type GiftWrappingsWrappingIdAPI interface {

	/*
		PutV1GiftwrappingsWrappingId gift-wrappings/{wrappingId}

		Create/Update new gift wrapping with data object values

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param wrappingId
		@return ApiPutV1GiftwrappingsWrappingIdRequest
	*/
	PutV1GiftwrappingsWrappingId(ctx context.Context, wrappingId string) ApiPutV1GiftwrappingsWrappingIdRequest

	// PutV1GiftwrappingsWrappingIdExecute executes the request
	//  @return GiftWrappingDataWrappingInterface
	PutV1GiftwrappingsWrappingIdExecute(r ApiPutV1GiftwrappingsWrappingIdRequest) (*GiftWrappingDataWrappingInterface, *http.Response, error)
}

// GiftWrappingsWrappingIdAPIService GiftWrappingsWrappingIdAPI service
type GiftWrappingsWrappingIdAPIService service

type ApiPutV1GiftwrappingsWrappingIdRequest struct {
	ctx                        context.Context
	ApiService                 GiftWrappingsWrappingIdAPI
	wrappingId                 string
	postV1GiftwrappingsRequest *PostV1GiftwrappingsRequest
}

func (r ApiPutV1GiftwrappingsWrappingIdRequest) PostV1GiftwrappingsRequest(postV1GiftwrappingsRequest PostV1GiftwrappingsRequest) ApiPutV1GiftwrappingsWrappingIdRequest {
	r.postV1GiftwrappingsRequest = &postV1GiftwrappingsRequest
	return r
}

func (r ApiPutV1GiftwrappingsWrappingIdRequest) Execute() (*GiftWrappingDataWrappingInterface, *http.Response, error) {
	return r.ApiService.PutV1GiftwrappingsWrappingIdExecute(r)
}

/*
PutV1GiftwrappingsWrappingId gift-wrappings/{wrappingId}

Create/Update new gift wrapping with data object values

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wrappingId
	@return ApiPutV1GiftwrappingsWrappingIdRequest
*/
func (a *GiftWrappingsWrappingIdAPIService) PutV1GiftwrappingsWrappingId(ctx context.Context, wrappingId string) ApiPutV1GiftwrappingsWrappingIdRequest {
	return ApiPutV1GiftwrappingsWrappingIdRequest{
		ApiService: a,
		ctx:        ctx,
		wrappingId: wrappingId,
	}
}

// Execute executes the request
//
//	@return GiftWrappingDataWrappingInterface
func (a *GiftWrappingsWrappingIdAPIService) PutV1GiftwrappingsWrappingIdExecute(r ApiPutV1GiftwrappingsWrappingIdRequest) (*GiftWrappingDataWrappingInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GiftWrappingDataWrappingInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiftWrappingsWrappingIdAPIService.PutV1GiftwrappingsWrappingId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/gift-wrappings/{wrappingId}"
	localVarPath = strings.Replace(localVarPath, "{"+"wrappingId"+"}", url.PathEscape(parameterValueToString(r.wrappingId, "wrappingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1GiftwrappingsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
