/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type InventoryAreProductSalableForRequestedQtyAPI interface {

	/*
		GetV1InventoryAreproductsalableforrequestedqty inventory/are-product-salable-for-requested-qty/

		Get whether products are salable in requested Qty for given set of SKUs in specified stock.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1InventoryAreproductsalableforrequestedqtyRequest
	*/
	GetV1InventoryAreproductsalableforrequestedqty(ctx context.Context) ApiGetV1InventoryAreproductsalableforrequestedqtyRequest

	// GetV1InventoryAreproductsalableforrequestedqtyExecute executes the request
	//  @return []InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface
	GetV1InventoryAreproductsalableforrequestedqtyExecute(r ApiGetV1InventoryAreproductsalableforrequestedqtyRequest) ([]InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface, *http.Response, error)
}

// InventoryAreProductSalableForRequestedQtyAPIService InventoryAreProductSalableForRequestedQtyAPI service
type InventoryAreProductSalableForRequestedQtyAPIService service

type ApiGetV1InventoryAreproductsalableforrequestedqtyRequest struct {
	ctx             context.Context
	ApiService      InventoryAreProductSalableForRequestedQtyAPI
	stockId         *int32
	skuRequests0Sku *string
	skuRequests0Qty *float32
}

func (r ApiGetV1InventoryAreproductsalableforrequestedqtyRequest) StockId(stockId int32) ApiGetV1InventoryAreproductsalableforrequestedqtyRequest {
	r.stockId = &stockId
	return r
}

// Product sku.
func (r ApiGetV1InventoryAreproductsalableforrequestedqtyRequest) SkuRequests0Sku(skuRequests0Sku string) ApiGetV1InventoryAreproductsalableforrequestedqtyRequest {
	r.skuRequests0Sku = &skuRequests0Sku
	return r
}

// Product quantity.
func (r ApiGetV1InventoryAreproductsalableforrequestedqtyRequest) SkuRequests0Qty(skuRequests0Qty float32) ApiGetV1InventoryAreproductsalableforrequestedqtyRequest {
	r.skuRequests0Qty = &skuRequests0Qty
	return r
}

func (r ApiGetV1InventoryAreproductsalableforrequestedqtyRequest) Execute() ([]InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface, *http.Response, error) {
	return r.ApiService.GetV1InventoryAreproductsalableforrequestedqtyExecute(r)
}

/*
GetV1InventoryAreproductsalableforrequestedqty inventory/are-product-salable-for-requested-qty/

Get whether products are salable in requested Qty for given set of SKUs in specified stock.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1InventoryAreproductsalableforrequestedqtyRequest
*/
func (a *InventoryAreProductSalableForRequestedQtyAPIService) GetV1InventoryAreproductsalableforrequestedqty(ctx context.Context) ApiGetV1InventoryAreproductsalableforrequestedqtyRequest {
	return ApiGetV1InventoryAreproductsalableforrequestedqtyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface
func (a *InventoryAreProductSalableForRequestedQtyAPIService) GetV1InventoryAreproductsalableforrequestedqtyExecute(r ApiGetV1InventoryAreproductsalableforrequestedqtyRequest) ([]InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []InventorySalesApiDataIsProductSalableForRequestedQtyResultInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryAreProductSalableForRequestedQtyAPIService.GetV1InventoryAreproductsalableforrequestedqty")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/inventory/are-product-salable-for-requested-qty/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.stockId == nil {
		return localVarReturnValue, nil, reportError("stockId is required and must be specified")
	}

	if r.skuRequests0Sku != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skuRequests[0][sku]", r.skuRequests0Sku, "form", "")
	}
	if r.skuRequests0Qty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skuRequests[0][qty]", r.skuRequests0Qty, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "stockId", r.stockId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
