/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type TfaProviderAuthySendTokenViaAPI interface {

	/*
		PostV1TfaProviderAuthySendtokenVia tfa/provider/authy/send-token/{via}

		Send a one time password to a device using authy

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param via
		@return ApiPostV1TfaProviderAuthySendtokenViaRequest
	*/
	PostV1TfaProviderAuthySendtokenVia(ctx context.Context, via string) ApiPostV1TfaProviderAuthySendtokenViaRequest

	// PostV1TfaProviderAuthySendtokenViaExecute executes the request
	//  @return ErrorResponse
	PostV1TfaProviderAuthySendtokenViaExecute(r ApiPostV1TfaProviderAuthySendtokenViaRequest) (*ErrorResponse, *http.Response, error)
}

// TfaProviderAuthySendTokenViaAPIService TfaProviderAuthySendTokenViaAPI service
type TfaProviderAuthySendTokenViaAPIService service

type ApiPostV1TfaProviderAuthySendtokenViaRequest struct {
	ctx                                context.Context
	ApiService                         TfaProviderAuthySendTokenViaAPI
	via                                string
	postV1IntegrationAdminTokenRequest *PostV1IntegrationAdminTokenRequest
}

func (r ApiPostV1TfaProviderAuthySendtokenViaRequest) PostV1IntegrationAdminTokenRequest(postV1IntegrationAdminTokenRequest PostV1IntegrationAdminTokenRequest) ApiPostV1TfaProviderAuthySendtokenViaRequest {
	r.postV1IntegrationAdminTokenRequest = &postV1IntegrationAdminTokenRequest
	return r
}

func (r ApiPostV1TfaProviderAuthySendtokenViaRequest) Execute() (*ErrorResponse, *http.Response, error) {
	return r.ApiService.PostV1TfaProviderAuthySendtokenViaExecute(r)
}

/*
PostV1TfaProviderAuthySendtokenVia tfa/provider/authy/send-token/{via}

Send a one time password to a device using authy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param via
	@return ApiPostV1TfaProviderAuthySendtokenViaRequest
*/
func (a *TfaProviderAuthySendTokenViaAPIService) PostV1TfaProviderAuthySendtokenVia(ctx context.Context, via string) ApiPostV1TfaProviderAuthySendtokenViaRequest {
	return ApiPostV1TfaProviderAuthySendtokenViaRequest{
		ApiService: a,
		ctx:        ctx,
		via:        via,
	}
}

// Execute executes the request
//
//	@return ErrorResponse
func (a *TfaProviderAuthySendTokenViaAPIService) PostV1TfaProviderAuthySendtokenViaExecute(r ApiPostV1TfaProviderAuthySendtokenViaRequest) (*ErrorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ErrorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TfaProviderAuthySendTokenViaAPIService.PostV1TfaProviderAuthySendtokenVia")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/tfa/provider/authy/send-token/{via}"
	localVarPath = strings.Replace(localVarPath, "{"+"via"+"}", url.PathEscape(parameterValueToString(r.via, "via")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1IntegrationAdminTokenRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
