/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type CartsMineSelectedPaymentMethodAPI interface {

	/*
		GetV1CartsMineSelectedpaymentmethod carts/mine/selected-payment-method

		Returns the payment method for a specified shopping cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1CartsMineSelectedpaymentmethodRequest
	*/
	GetV1CartsMineSelectedpaymentmethod(ctx context.Context) ApiGetV1CartsMineSelectedpaymentmethodRequest

	// GetV1CartsMineSelectedpaymentmethodExecute executes the request
	//  @return QuoteDataPaymentInterface
	GetV1CartsMineSelectedpaymentmethodExecute(r ApiGetV1CartsMineSelectedpaymentmethodRequest) (*QuoteDataPaymentInterface, *http.Response, error)

	/*
		PutV1CartsMineSelectedpaymentmethod carts/mine/selected-payment-method

		Adds a specified payment method to a specified shopping cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPutV1CartsMineSelectedpaymentmethodRequest
	*/
	PutV1CartsMineSelectedpaymentmethod(ctx context.Context) ApiPutV1CartsMineSelectedpaymentmethodRequest

	// PutV1CartsMineSelectedpaymentmethodExecute executes the request
	//  @return string
	PutV1CartsMineSelectedpaymentmethodExecute(r ApiPutV1CartsMineSelectedpaymentmethodRequest) (string, *http.Response, error)
}

// CartsMineSelectedPaymentMethodAPIService CartsMineSelectedPaymentMethodAPI service
type CartsMineSelectedPaymentMethodAPIService service

type ApiGetV1CartsMineSelectedpaymentmethodRequest struct {
	ctx        context.Context
	ApiService CartsMineSelectedPaymentMethodAPI
}

func (r ApiGetV1CartsMineSelectedpaymentmethodRequest) Execute() (*QuoteDataPaymentInterface, *http.Response, error) {
	return r.ApiService.GetV1CartsMineSelectedpaymentmethodExecute(r)
}

/*
GetV1CartsMineSelectedpaymentmethod carts/mine/selected-payment-method

Returns the payment method for a specified shopping cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1CartsMineSelectedpaymentmethodRequest
*/
func (a *CartsMineSelectedPaymentMethodAPIService) GetV1CartsMineSelectedpaymentmethod(ctx context.Context) ApiGetV1CartsMineSelectedpaymentmethodRequest {
	return ApiGetV1CartsMineSelectedpaymentmethodRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QuoteDataPaymentInterface
func (a *CartsMineSelectedPaymentMethodAPIService) GetV1CartsMineSelectedpaymentmethodExecute(r ApiGetV1CartsMineSelectedpaymentmethodRequest) (*QuoteDataPaymentInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QuoteDataPaymentInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsMineSelectedPaymentMethodAPIService.GetV1CartsMineSelectedpaymentmethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/mine/selected-payment-method"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1CartsMineSelectedpaymentmethodRequest struct {
	ctx                                        context.Context
	ApiService                                 CartsMineSelectedPaymentMethodAPI
	putV1CartsMineSelectedpaymentmethodRequest *PutV1CartsMineSelectedpaymentmethodRequest
}

func (r ApiPutV1CartsMineSelectedpaymentmethodRequest) PutV1CartsMineSelectedpaymentmethodRequest(putV1CartsMineSelectedpaymentmethodRequest PutV1CartsMineSelectedpaymentmethodRequest) ApiPutV1CartsMineSelectedpaymentmethodRequest {
	r.putV1CartsMineSelectedpaymentmethodRequest = &putV1CartsMineSelectedpaymentmethodRequest
	return r
}

func (r ApiPutV1CartsMineSelectedpaymentmethodRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.PutV1CartsMineSelectedpaymentmethodExecute(r)
}

/*
PutV1CartsMineSelectedpaymentmethod carts/mine/selected-payment-method

Adds a specified payment method to a specified shopping cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPutV1CartsMineSelectedpaymentmethodRequest
*/
func (a *CartsMineSelectedPaymentMethodAPIService) PutV1CartsMineSelectedpaymentmethod(ctx context.Context) ApiPutV1CartsMineSelectedpaymentmethodRequest {
	return ApiPutV1CartsMineSelectedpaymentmethodRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *CartsMineSelectedPaymentMethodAPIService) PutV1CartsMineSelectedpaymentmethodExecute(r ApiPutV1CartsMineSelectedpaymentmethodRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsMineSelectedPaymentMethodAPIService.PutV1CartsMineSelectedpaymentmethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/mine/selected-payment-method"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putV1CartsMineSelectedpaymentmethodRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
