/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type InventoryBulkProductSourceTransferAPI interface {

	/*
		PostV1InventoryBulkproductsourcetransfer inventory/bulk-product-source-transfer

		Run bulk inventory transfer

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostV1InventoryBulkproductsourcetransferRequest
	*/
	PostV1InventoryBulkproductsourcetransfer(ctx context.Context) ApiPostV1InventoryBulkproductsourcetransferRequest

	// PostV1InventoryBulkproductsourcetransferExecute executes the request
	//  @return bool
	PostV1InventoryBulkproductsourcetransferExecute(r ApiPostV1InventoryBulkproductsourcetransferRequest) (bool, *http.Response, error)
}

// InventoryBulkProductSourceTransferAPIService InventoryBulkProductSourceTransferAPI service
type InventoryBulkProductSourceTransferAPIService service

type ApiPostV1InventoryBulkproductsourcetransferRequest struct {
	ctx                                             context.Context
	ApiService                                      InventoryBulkProductSourceTransferAPI
	postV1InventoryBulkproductsourcetransferRequest *PostV1InventoryBulkproductsourcetransferRequest
}

func (r ApiPostV1InventoryBulkproductsourcetransferRequest) PostV1InventoryBulkproductsourcetransferRequest(postV1InventoryBulkproductsourcetransferRequest PostV1InventoryBulkproductsourcetransferRequest) ApiPostV1InventoryBulkproductsourcetransferRequest {
	r.postV1InventoryBulkproductsourcetransferRequest = &postV1InventoryBulkproductsourcetransferRequest
	return r
}

func (r ApiPostV1InventoryBulkproductsourcetransferRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.PostV1InventoryBulkproductsourcetransferExecute(r)
}

/*
PostV1InventoryBulkproductsourcetransfer inventory/bulk-product-source-transfer

Run bulk inventory transfer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostV1InventoryBulkproductsourcetransferRequest
*/
func (a *InventoryBulkProductSourceTransferAPIService) PostV1InventoryBulkproductsourcetransfer(ctx context.Context) ApiPostV1InventoryBulkproductsourcetransferRequest {
	return ApiPostV1InventoryBulkproductsourcetransferRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return bool
func (a *InventoryBulkProductSourceTransferAPIService) PostV1InventoryBulkproductsourcetransferExecute(r ApiPostV1InventoryBulkproductsourcetransferRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryBulkProductSourceTransferAPIService.PostV1InventoryBulkproductsourcetransfer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/inventory/bulk-product-source-transfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1InventoryBulkproductsourcetransferRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
