/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ProductsAttributesAttributeCodeOptionsAPI interface {

	/*
		GetV1ProductsAttributesAttributeCodeOptions products/attributes/{attributeCode}/options

		Retrieve list of attribute options

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param attributeCode
		@return ApiGetV1ProductsAttributesAttributeCodeOptionsRequest
	*/
	GetV1ProductsAttributesAttributeCodeOptions(ctx context.Context, attributeCode string) ApiGetV1ProductsAttributesAttributeCodeOptionsRequest

	// GetV1ProductsAttributesAttributeCodeOptionsExecute executes the request
	//  @return []EavDataAttributeOptionInterface
	GetV1ProductsAttributesAttributeCodeOptionsExecute(r ApiGetV1ProductsAttributesAttributeCodeOptionsRequest) ([]EavDataAttributeOptionInterface, *http.Response, error)

	/*
		PostV1ProductsAttributesAttributeCodeOptions products/attributes/{attributeCode}/options

		Add option to attribute

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param attributeCode
		@return ApiPostV1ProductsAttributesAttributeCodeOptionsRequest
	*/
	PostV1ProductsAttributesAttributeCodeOptions(ctx context.Context, attributeCode string) ApiPostV1ProductsAttributesAttributeCodeOptionsRequest

	// PostV1ProductsAttributesAttributeCodeOptionsExecute executes the request
	//  @return string
	PostV1ProductsAttributesAttributeCodeOptionsExecute(r ApiPostV1ProductsAttributesAttributeCodeOptionsRequest) (string, *http.Response, error)
}

// ProductsAttributesAttributeCodeOptionsAPIService ProductsAttributesAttributeCodeOptionsAPI service
type ProductsAttributesAttributeCodeOptionsAPIService service

type ApiGetV1ProductsAttributesAttributeCodeOptionsRequest struct {
	ctx           context.Context
	ApiService    ProductsAttributesAttributeCodeOptionsAPI
	attributeCode string
}

func (r ApiGetV1ProductsAttributesAttributeCodeOptionsRequest) Execute() ([]EavDataAttributeOptionInterface, *http.Response, error) {
	return r.ApiService.GetV1ProductsAttributesAttributeCodeOptionsExecute(r)
}

/*
GetV1ProductsAttributesAttributeCodeOptions products/attributes/{attributeCode}/options

Retrieve list of attribute options

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param attributeCode
	@return ApiGetV1ProductsAttributesAttributeCodeOptionsRequest
*/
func (a *ProductsAttributesAttributeCodeOptionsAPIService) GetV1ProductsAttributesAttributeCodeOptions(ctx context.Context, attributeCode string) ApiGetV1ProductsAttributesAttributeCodeOptionsRequest {
	return ApiGetV1ProductsAttributesAttributeCodeOptionsRequest{
		ApiService:    a,
		ctx:           ctx,
		attributeCode: attributeCode,
	}
}

// Execute executes the request
//
//	@return []EavDataAttributeOptionInterface
func (a *ProductsAttributesAttributeCodeOptionsAPIService) GetV1ProductsAttributesAttributeCodeOptionsExecute(r ApiGetV1ProductsAttributesAttributeCodeOptionsRequest) ([]EavDataAttributeOptionInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []EavDataAttributeOptionInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAttributesAttributeCodeOptionsAPIService.GetV1ProductsAttributesAttributeCodeOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/attributes/{attributeCode}/options"
	localVarPath = strings.Replace(localVarPath, "{"+"attributeCode"+"}", url.PathEscape(parameterValueToString(r.attributeCode, "attributeCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1ProductsAttributesAttributeCodeOptionsRequest struct {
	ctx                                                 context.Context
	ApiService                                          ProductsAttributesAttributeCodeOptionsAPI
	attributeCode                                       string
	postV1ProductsAttributesAttributeCodeOptionsRequest *PostV1ProductsAttributesAttributeCodeOptionsRequest
}

func (r ApiPostV1ProductsAttributesAttributeCodeOptionsRequest) PostV1ProductsAttributesAttributeCodeOptionsRequest(postV1ProductsAttributesAttributeCodeOptionsRequest PostV1ProductsAttributesAttributeCodeOptionsRequest) ApiPostV1ProductsAttributesAttributeCodeOptionsRequest {
	r.postV1ProductsAttributesAttributeCodeOptionsRequest = &postV1ProductsAttributesAttributeCodeOptionsRequest
	return r
}

func (r ApiPostV1ProductsAttributesAttributeCodeOptionsRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.PostV1ProductsAttributesAttributeCodeOptionsExecute(r)
}

/*
PostV1ProductsAttributesAttributeCodeOptions products/attributes/{attributeCode}/options

Add option to attribute

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param attributeCode
	@return ApiPostV1ProductsAttributesAttributeCodeOptionsRequest
*/
func (a *ProductsAttributesAttributeCodeOptionsAPIService) PostV1ProductsAttributesAttributeCodeOptions(ctx context.Context, attributeCode string) ApiPostV1ProductsAttributesAttributeCodeOptionsRequest {
	return ApiPostV1ProductsAttributesAttributeCodeOptionsRequest{
		ApiService:    a,
		ctx:           ctx,
		attributeCode: attributeCode,
	}
}

// Execute executes the request
//
//	@return string
func (a *ProductsAttributesAttributeCodeOptionsAPIService) PostV1ProductsAttributesAttributeCodeOptionsExecute(r ApiPostV1ProductsAttributesAttributeCodeOptionsRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAttributesAttributeCodeOptionsAPIService.PostV1ProductsAttributesAttributeCodeOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/attributes/{attributeCode}/options"
	localVarPath = strings.Replace(localVarPath, "{"+"attributeCode"+"}", url.PathEscape(parameterValueToString(r.attributeCode, "attributeCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1ProductsAttributesAttributeCodeOptionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
