/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type GuestCartsCartIdCouponsCouponCodeAPI interface {

	/*
		PutV1GuestcartsCartIdCouponsCouponCode guest-carts/{cartId}/coupons/{couponCode}

		Add a coupon by code to a specified cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@param couponCode The coupon code data.
		@return ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest
	*/
	PutV1GuestcartsCartIdCouponsCouponCode(ctx context.Context, cartId string, couponCode string) ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest

	// PutV1GuestcartsCartIdCouponsCouponCodeExecute executes the request
	//  @return bool
	PutV1GuestcartsCartIdCouponsCouponCodeExecute(r ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest) (bool, *http.Response, error)
}

// GuestCartsCartIdCouponsCouponCodeAPIService GuestCartsCartIdCouponsCouponCodeAPI service
type GuestCartsCartIdCouponsCouponCodeAPIService service

type ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest struct {
	ctx        context.Context
	ApiService GuestCartsCartIdCouponsCouponCodeAPI
	cartId     string
	couponCode string
}

func (r ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.PutV1GuestcartsCartIdCouponsCouponCodeExecute(r)
}

/*
PutV1GuestcartsCartIdCouponsCouponCode guest-carts/{cartId}/coupons/{couponCode}

Add a coupon by code to a specified cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@param couponCode The coupon code data.
	@return ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest
*/
func (a *GuestCartsCartIdCouponsCouponCodeAPIService) PutV1GuestcartsCartIdCouponsCouponCode(ctx context.Context, cartId string, couponCode string) ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest {
	return ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
		couponCode: couponCode,
	}
}

// Execute executes the request
//
//	@return bool
func (a *GuestCartsCartIdCouponsCouponCodeAPIService) PutV1GuestcartsCartIdCouponsCouponCodeExecute(r ApiPutV1GuestcartsCartIdCouponsCouponCodeRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuestCartsCartIdCouponsCouponCodeAPIService.PutV1GuestcartsCartIdCouponsCouponCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/guest-carts/{cartId}/coupons/{couponCode}"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"couponCode"+"}", url.PathEscape(parameterValueToString(r.couponCode, "couponCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
