/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ProductsSkuDownloadableLinksSamplesAPI interface {

	/*
		GetV1ProductsSkuDownloadablelinksSamples products/{sku}/downloadable-links/samples

		List of samples for downloadable product

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@return ApiGetV1ProductsSkuDownloadablelinksSamplesRequest
	*/
	GetV1ProductsSkuDownloadablelinksSamples(ctx context.Context, sku string) ApiGetV1ProductsSkuDownloadablelinksSamplesRequest

	// GetV1ProductsSkuDownloadablelinksSamplesExecute executes the request
	//  @return []DownloadableDataSampleInterface
	GetV1ProductsSkuDownloadablelinksSamplesExecute(r ApiGetV1ProductsSkuDownloadablelinksSamplesRequest) ([]DownloadableDataSampleInterface, *http.Response, error)

	/*
		PostV1ProductsSkuDownloadablelinksSamples products/{sku}/downloadable-links/samples

		Update downloadable sample of the given product

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@return ApiPostV1ProductsSkuDownloadablelinksSamplesRequest
	*/
	PostV1ProductsSkuDownloadablelinksSamples(ctx context.Context, sku string) ApiPostV1ProductsSkuDownloadablelinksSamplesRequest

	// PostV1ProductsSkuDownloadablelinksSamplesExecute executes the request
	//  @return int32
	PostV1ProductsSkuDownloadablelinksSamplesExecute(r ApiPostV1ProductsSkuDownloadablelinksSamplesRequest) (int32, *http.Response, error)
}

// ProductsSkuDownloadableLinksSamplesAPIService ProductsSkuDownloadableLinksSamplesAPI service
type ProductsSkuDownloadableLinksSamplesAPIService service

type ApiGetV1ProductsSkuDownloadablelinksSamplesRequest struct {
	ctx        context.Context
	ApiService ProductsSkuDownloadableLinksSamplesAPI
	sku        string
}

func (r ApiGetV1ProductsSkuDownloadablelinksSamplesRequest) Execute() ([]DownloadableDataSampleInterface, *http.Response, error) {
	return r.ApiService.GetV1ProductsSkuDownloadablelinksSamplesExecute(r)
}

/*
GetV1ProductsSkuDownloadablelinksSamples products/{sku}/downloadable-links/samples

List of samples for downloadable product

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@return ApiGetV1ProductsSkuDownloadablelinksSamplesRequest
*/
func (a *ProductsSkuDownloadableLinksSamplesAPIService) GetV1ProductsSkuDownloadablelinksSamples(ctx context.Context, sku string) ApiGetV1ProductsSkuDownloadablelinksSamplesRequest {
	return ApiGetV1ProductsSkuDownloadablelinksSamplesRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
	}
}

// Execute executes the request
//
//	@return []DownloadableDataSampleInterface
func (a *ProductsSkuDownloadableLinksSamplesAPIService) GetV1ProductsSkuDownloadablelinksSamplesExecute(r ApiGetV1ProductsSkuDownloadablelinksSamplesRequest) ([]DownloadableDataSampleInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DownloadableDataSampleInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsSkuDownloadableLinksSamplesAPIService.GetV1ProductsSkuDownloadablelinksSamples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/{sku}/downloadable-links/samples"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1ProductsSkuDownloadablelinksSamplesRequest struct {
	ctx                                              context.Context
	ApiService                                       ProductsSkuDownloadableLinksSamplesAPI
	sku                                              string
	postV1ProductsSkuDownloadablelinksSamplesRequest *PostV1ProductsSkuDownloadablelinksSamplesRequest
}

func (r ApiPostV1ProductsSkuDownloadablelinksSamplesRequest) PostV1ProductsSkuDownloadablelinksSamplesRequest(postV1ProductsSkuDownloadablelinksSamplesRequest PostV1ProductsSkuDownloadablelinksSamplesRequest) ApiPostV1ProductsSkuDownloadablelinksSamplesRequest {
	r.postV1ProductsSkuDownloadablelinksSamplesRequest = &postV1ProductsSkuDownloadablelinksSamplesRequest
	return r
}

func (r ApiPostV1ProductsSkuDownloadablelinksSamplesRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.PostV1ProductsSkuDownloadablelinksSamplesExecute(r)
}

/*
PostV1ProductsSkuDownloadablelinksSamples products/{sku}/downloadable-links/samples

Update downloadable sample of the given product

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@return ApiPostV1ProductsSkuDownloadablelinksSamplesRequest
*/
func (a *ProductsSkuDownloadableLinksSamplesAPIService) PostV1ProductsSkuDownloadablelinksSamples(ctx context.Context, sku string) ApiPostV1ProductsSkuDownloadablelinksSamplesRequest {
	return ApiPostV1ProductsSkuDownloadablelinksSamplesRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
	}
}

// Execute executes the request
//
//	@return int32
func (a *ProductsSkuDownloadableLinksSamplesAPIService) PostV1ProductsSkuDownloadablelinksSamplesExecute(r ApiPostV1ProductsSkuDownloadablelinksSamplesRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsSkuDownloadableLinksSamplesAPIService.PostV1ProductsSkuDownloadablelinksSamples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/{sku}/downloadable-links/samples"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1ProductsSkuDownloadablelinksSamplesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
