/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type InventoryAreProductsSalableAPI interface {

	/*
		GetV1InventoryAreproductssalable inventory/are-products-salable

		Get products salable status for given SKUs and given Stock.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1InventoryAreproductssalableRequest
	*/
	GetV1InventoryAreproductssalable(ctx context.Context) ApiGetV1InventoryAreproductssalableRequest

	// GetV1InventoryAreproductssalableExecute executes the request
	//  @return []InventorySalesApiDataIsProductSalableResultInterface
	GetV1InventoryAreproductssalableExecute(r ApiGetV1InventoryAreproductssalableRequest) ([]InventorySalesApiDataIsProductSalableResultInterface, *http.Response, error)
}

// InventoryAreProductsSalableAPIService InventoryAreProductsSalableAPI service
type InventoryAreProductsSalableAPIService service

type ApiGetV1InventoryAreproductssalableRequest struct {
	ctx        context.Context
	ApiService InventoryAreProductsSalableAPI
	skus       *[]string
	stockId    *int32
}

func (r ApiGetV1InventoryAreproductssalableRequest) Skus(skus []string) ApiGetV1InventoryAreproductssalableRequest {
	r.skus = &skus
	return r
}

func (r ApiGetV1InventoryAreproductssalableRequest) StockId(stockId int32) ApiGetV1InventoryAreproductssalableRequest {
	r.stockId = &stockId
	return r
}

func (r ApiGetV1InventoryAreproductssalableRequest) Execute() ([]InventorySalesApiDataIsProductSalableResultInterface, *http.Response, error) {
	return r.ApiService.GetV1InventoryAreproductssalableExecute(r)
}

/*
GetV1InventoryAreproductssalable inventory/are-products-salable

Get products salable status for given SKUs and given Stock.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1InventoryAreproductssalableRequest
*/
func (a *InventoryAreProductsSalableAPIService) GetV1InventoryAreproductssalable(ctx context.Context) ApiGetV1InventoryAreproductssalableRequest {
	return ApiGetV1InventoryAreproductssalableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []InventorySalesApiDataIsProductSalableResultInterface
func (a *InventoryAreProductsSalableAPIService) GetV1InventoryAreproductssalableExecute(r ApiGetV1InventoryAreproductssalableRequest) ([]InventorySalesApiDataIsProductSalableResultInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []InventorySalesApiDataIsProductSalableResultInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryAreProductsSalableAPIService.GetV1InventoryAreproductssalable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/inventory/are-products-salable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.skus == nil {
		return localVarReturnValue, nil, reportError("skus is required and must be specified")
	}
	if r.stockId == nil {
		return localVarReturnValue, nil, reportError("stockId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "skus", r.skus, "form", "csv")
	parameterAddToHeaderOrQuery(localVarQueryParams, "stockId", r.stockId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
