/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type TfaProviderU2fkeyConfigureAPI interface {

	/*
		PostV1TfaProviderU2fkeyConfigure tfa/provider/u2fkey/configure

		Get the information to initiate a WebAuthn registration ceremony

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostV1TfaProviderU2fkeyConfigureRequest
	*/
	PostV1TfaProviderU2fkeyConfigure(ctx context.Context) ApiPostV1TfaProviderU2fkeyConfigureRequest

	// PostV1TfaProviderU2fkeyConfigureExecute executes the request
	//  @return TwoFactorAuthDataU2fWebAuthnRequestInterface
	PostV1TfaProviderU2fkeyConfigureExecute(r ApiPostV1TfaProviderU2fkeyConfigureRequest) (*TwoFactorAuthDataU2fWebAuthnRequestInterface, *http.Response, error)
}

// TfaProviderU2fkeyConfigureAPIService TfaProviderU2fkeyConfigureAPI service
type TfaProviderU2fkeyConfigureAPIService service

type ApiPostV1TfaProviderU2fkeyConfigureRequest struct {
	ctx                                          context.Context
	ApiService                                   TfaProviderU2fkeyConfigureAPI
	postV1TfaProviderDuoSecurityConfigureRequest *PostV1TfaProviderDuoSecurityConfigureRequest
}

func (r ApiPostV1TfaProviderU2fkeyConfigureRequest) PostV1TfaProviderDuoSecurityConfigureRequest(postV1TfaProviderDuoSecurityConfigureRequest PostV1TfaProviderDuoSecurityConfigureRequest) ApiPostV1TfaProviderU2fkeyConfigureRequest {
	r.postV1TfaProviderDuoSecurityConfigureRequest = &postV1TfaProviderDuoSecurityConfigureRequest
	return r
}

func (r ApiPostV1TfaProviderU2fkeyConfigureRequest) Execute() (*TwoFactorAuthDataU2fWebAuthnRequestInterface, *http.Response, error) {
	return r.ApiService.PostV1TfaProviderU2fkeyConfigureExecute(r)
}

/*
PostV1TfaProviderU2fkeyConfigure tfa/provider/u2fkey/configure

Get the information to initiate a WebAuthn registration ceremony

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostV1TfaProviderU2fkeyConfigureRequest
*/
func (a *TfaProviderU2fkeyConfigureAPIService) PostV1TfaProviderU2fkeyConfigure(ctx context.Context) ApiPostV1TfaProviderU2fkeyConfigureRequest {
	return ApiPostV1TfaProviderU2fkeyConfigureRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TwoFactorAuthDataU2fWebAuthnRequestInterface
func (a *TfaProviderU2fkeyConfigureAPIService) PostV1TfaProviderU2fkeyConfigureExecute(r ApiPostV1TfaProviderU2fkeyConfigureRequest) (*TwoFactorAuthDataU2fWebAuthnRequestInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TwoFactorAuthDataU2fWebAuthnRequestInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TfaProviderU2fkeyConfigureAPIService.PostV1TfaProviderU2fkeyConfigure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/tfa/provider/u2fkey/configure"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1TfaProviderDuoSecurityConfigureRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
