/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CartsCartIdItemsItemIdAPI interface {

	/*
		DeleteV1CartsCartIdItemsItemId carts/{cartId}/items/{itemId}

		Removes the specified item from the specified cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@param itemId The item ID of the item to be removed.
		@return ApiDeleteV1CartsCartIdItemsItemIdRequest
	*/
	DeleteV1CartsCartIdItemsItemId(ctx context.Context, cartId int32, itemId int32) ApiDeleteV1CartsCartIdItemsItemIdRequest

	// DeleteV1CartsCartIdItemsItemIdExecute executes the request
	//  @return bool
	DeleteV1CartsCartIdItemsItemIdExecute(r ApiDeleteV1CartsCartIdItemsItemIdRequest) (bool, *http.Response, error)

	/*
		PutV1CartsCartIdItemsItemId carts/{cartId}/items/{itemId}

		Add/update the specified cart item.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId
		@param itemId
		@return ApiPutV1CartsCartIdItemsItemIdRequest
	*/
	PutV1CartsCartIdItemsItemId(ctx context.Context, cartId string, itemId string) ApiPutV1CartsCartIdItemsItemIdRequest

	// PutV1CartsCartIdItemsItemIdExecute executes the request
	//  @return QuoteDataCartItemInterface
	PutV1CartsCartIdItemsItemIdExecute(r ApiPutV1CartsCartIdItemsItemIdRequest) (*QuoteDataCartItemInterface, *http.Response, error)
}

// CartsCartIdItemsItemIdAPIService CartsCartIdItemsItemIdAPI service
type CartsCartIdItemsItemIdAPIService service

type ApiDeleteV1CartsCartIdItemsItemIdRequest struct {
	ctx        context.Context
	ApiService CartsCartIdItemsItemIdAPI
	cartId     int32
	itemId     int32
}

func (r ApiDeleteV1CartsCartIdItemsItemIdRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.DeleteV1CartsCartIdItemsItemIdExecute(r)
}

/*
DeleteV1CartsCartIdItemsItemId carts/{cartId}/items/{itemId}

Removes the specified item from the specified cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@param itemId The item ID of the item to be removed.
	@return ApiDeleteV1CartsCartIdItemsItemIdRequest
*/
func (a *CartsCartIdItemsItemIdAPIService) DeleteV1CartsCartIdItemsItemId(ctx context.Context, cartId int32, itemId int32) ApiDeleteV1CartsCartIdItemsItemIdRequest {
	return ApiDeleteV1CartsCartIdItemsItemIdRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
		itemId:     itemId,
	}
}

// Execute executes the request
//
//	@return bool
func (a *CartsCartIdItemsItemIdAPIService) DeleteV1CartsCartIdItemsItemIdExecute(r ApiDeleteV1CartsCartIdItemsItemIdRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsCartIdItemsItemIdAPIService.DeleteV1CartsCartIdItemsItemId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/{cartId}/items/{itemId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1CartsCartIdItemsItemIdRequest struct {
	ctx                         context.Context
	ApiService                  CartsCartIdItemsItemIdAPI
	cartId                      string
	itemId                      string
	postV1CartsMineItemsRequest *PostV1CartsMineItemsRequest
}

func (r ApiPutV1CartsCartIdItemsItemIdRequest) PostV1CartsMineItemsRequest(postV1CartsMineItemsRequest PostV1CartsMineItemsRequest) ApiPutV1CartsCartIdItemsItemIdRequest {
	r.postV1CartsMineItemsRequest = &postV1CartsMineItemsRequest
	return r
}

func (r ApiPutV1CartsCartIdItemsItemIdRequest) Execute() (*QuoteDataCartItemInterface, *http.Response, error) {
	return r.ApiService.PutV1CartsCartIdItemsItemIdExecute(r)
}

/*
PutV1CartsCartIdItemsItemId carts/{cartId}/items/{itemId}

Add/update the specified cart item.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId
	@param itemId
	@return ApiPutV1CartsCartIdItemsItemIdRequest
*/
func (a *CartsCartIdItemsItemIdAPIService) PutV1CartsCartIdItemsItemId(ctx context.Context, cartId string, itemId string) ApiPutV1CartsCartIdItemsItemIdRequest {
	return ApiPutV1CartsCartIdItemsItemIdRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
		itemId:     itemId,
	}
}

// Execute executes the request
//
//	@return QuoteDataCartItemInterface
func (a *CartsCartIdItemsItemIdAPIService) PutV1CartsCartIdItemsItemIdExecute(r ApiPutV1CartsCartIdItemsItemIdRequest) (*QuoteDataCartItemInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QuoteDataCartItemInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsCartIdItemsItemIdAPIService.PutV1CartsCartIdItemsItemId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/{cartId}/items/{itemId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CartsMineItemsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
