/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type NegotiableCartsCartIdBillingAddressAPI interface {

	/*
		GetV1NegotiablecartsCartIdBillingaddress negotiable-carts/{cartId}/billing-address

		Returns the billing address for a specified quote.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@return ApiGetV1NegotiablecartsCartIdBillingaddressRequest
	*/
	GetV1NegotiablecartsCartIdBillingaddress(ctx context.Context, cartId int32) ApiGetV1NegotiablecartsCartIdBillingaddressRequest

	// GetV1NegotiablecartsCartIdBillingaddressExecute executes the request
	//  @return QuoteDataAddressInterface
	GetV1NegotiablecartsCartIdBillingaddressExecute(r ApiGetV1NegotiablecartsCartIdBillingaddressRequest) (*QuoteDataAddressInterface, *http.Response, error)

	/*
		PostV1NegotiablecartsCartIdBillingaddress negotiable-carts/{cartId}/billing-address

		Assigns a specified billing address to a specified cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@return ApiPostV1NegotiablecartsCartIdBillingaddressRequest
	*/
	PostV1NegotiablecartsCartIdBillingaddress(ctx context.Context, cartId int32) ApiPostV1NegotiablecartsCartIdBillingaddressRequest

	// PostV1NegotiablecartsCartIdBillingaddressExecute executes the request
	//  @return int32
	PostV1NegotiablecartsCartIdBillingaddressExecute(r ApiPostV1NegotiablecartsCartIdBillingaddressRequest) (int32, *http.Response, error)
}

// NegotiableCartsCartIdBillingAddressAPIService NegotiableCartsCartIdBillingAddressAPI service
type NegotiableCartsCartIdBillingAddressAPIService service

type ApiGetV1NegotiablecartsCartIdBillingaddressRequest struct {
	ctx        context.Context
	ApiService NegotiableCartsCartIdBillingAddressAPI
	cartId     int32
}

func (r ApiGetV1NegotiablecartsCartIdBillingaddressRequest) Execute() (*QuoteDataAddressInterface, *http.Response, error) {
	return r.ApiService.GetV1NegotiablecartsCartIdBillingaddressExecute(r)
}

/*
GetV1NegotiablecartsCartIdBillingaddress negotiable-carts/{cartId}/billing-address

Returns the billing address for a specified quote.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@return ApiGetV1NegotiablecartsCartIdBillingaddressRequest
*/
func (a *NegotiableCartsCartIdBillingAddressAPIService) GetV1NegotiablecartsCartIdBillingaddress(ctx context.Context, cartId int32) ApiGetV1NegotiablecartsCartIdBillingaddressRequest {
	return ApiGetV1NegotiablecartsCartIdBillingaddressRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return QuoteDataAddressInterface
func (a *NegotiableCartsCartIdBillingAddressAPIService) GetV1NegotiablecartsCartIdBillingaddressExecute(r ApiGetV1NegotiablecartsCartIdBillingaddressRequest) (*QuoteDataAddressInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QuoteDataAddressInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NegotiableCartsCartIdBillingAddressAPIService.GetV1NegotiablecartsCartIdBillingaddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/negotiable-carts/{cartId}/billing-address"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1NegotiablecartsCartIdBillingaddressRequest struct {
	ctx                                  context.Context
	ApiService                           NegotiableCartsCartIdBillingAddressAPI
	cartId                               int32
	postV1CartsMineBillingaddressRequest *PostV1CartsMineBillingaddressRequest
}

func (r ApiPostV1NegotiablecartsCartIdBillingaddressRequest) PostV1CartsMineBillingaddressRequest(postV1CartsMineBillingaddressRequest PostV1CartsMineBillingaddressRequest) ApiPostV1NegotiablecartsCartIdBillingaddressRequest {
	r.postV1CartsMineBillingaddressRequest = &postV1CartsMineBillingaddressRequest
	return r
}

func (r ApiPostV1NegotiablecartsCartIdBillingaddressRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.PostV1NegotiablecartsCartIdBillingaddressExecute(r)
}

/*
PostV1NegotiablecartsCartIdBillingaddress negotiable-carts/{cartId}/billing-address

Assigns a specified billing address to a specified cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@return ApiPostV1NegotiablecartsCartIdBillingaddressRequest
*/
func (a *NegotiableCartsCartIdBillingAddressAPIService) PostV1NegotiablecartsCartIdBillingaddress(ctx context.Context, cartId int32) ApiPostV1NegotiablecartsCartIdBillingaddressRequest {
	return ApiPostV1NegotiablecartsCartIdBillingaddressRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return int32
func (a *NegotiableCartsCartIdBillingAddressAPIService) PostV1NegotiablecartsCartIdBillingaddressExecute(r ApiPostV1NegotiablecartsCartIdBillingaddressRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NegotiableCartsCartIdBillingAddressAPIService.PostV1NegotiablecartsCartIdBillingaddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/negotiable-carts/{cartId}/billing-address"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CartsMineBillingaddressRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
