/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type TfaProviderDuoSecurityConfigureAPI interface {

	/*
		PostV1TfaProviderDuoSecurityConfigure tfa/provider/duo_security/configure

		Get the information required to configure duo

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostV1TfaProviderDuoSecurityConfigureRequest
	*/
	PostV1TfaProviderDuoSecurityConfigure(ctx context.Context) ApiPostV1TfaProviderDuoSecurityConfigureRequest

	// PostV1TfaProviderDuoSecurityConfigureExecute executes the request
	//  @return TwoFactorAuthDataDuoDataInterface
	PostV1TfaProviderDuoSecurityConfigureExecute(r ApiPostV1TfaProviderDuoSecurityConfigureRequest) (*TwoFactorAuthDataDuoDataInterface, *http.Response, error)
}

// TfaProviderDuoSecurityConfigureAPIService TfaProviderDuoSecurityConfigureAPI service
type TfaProviderDuoSecurityConfigureAPIService service

type ApiPostV1TfaProviderDuoSecurityConfigureRequest struct {
	ctx                                          context.Context
	ApiService                                   TfaProviderDuoSecurityConfigureAPI
	postV1TfaProviderDuoSecurityConfigureRequest *PostV1TfaProviderDuoSecurityConfigureRequest
}

func (r ApiPostV1TfaProviderDuoSecurityConfigureRequest) PostV1TfaProviderDuoSecurityConfigureRequest(postV1TfaProviderDuoSecurityConfigureRequest PostV1TfaProviderDuoSecurityConfigureRequest) ApiPostV1TfaProviderDuoSecurityConfigureRequest {
	r.postV1TfaProviderDuoSecurityConfigureRequest = &postV1TfaProviderDuoSecurityConfigureRequest
	return r
}

func (r ApiPostV1TfaProviderDuoSecurityConfigureRequest) Execute() (*TwoFactorAuthDataDuoDataInterface, *http.Response, error) {
	return r.ApiService.PostV1TfaProviderDuoSecurityConfigureExecute(r)
}

/*
PostV1TfaProviderDuoSecurityConfigure tfa/provider/duo_security/configure

Get the information required to configure duo

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostV1TfaProviderDuoSecurityConfigureRequest
*/
func (a *TfaProviderDuoSecurityConfigureAPIService) PostV1TfaProviderDuoSecurityConfigure(ctx context.Context) ApiPostV1TfaProviderDuoSecurityConfigureRequest {
	return ApiPostV1TfaProviderDuoSecurityConfigureRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TwoFactorAuthDataDuoDataInterface
func (a *TfaProviderDuoSecurityConfigureAPIService) PostV1TfaProviderDuoSecurityConfigureExecute(r ApiPostV1TfaProviderDuoSecurityConfigureRequest) (*TwoFactorAuthDataDuoDataInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TwoFactorAuthDataDuoDataInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TfaProviderDuoSecurityConfigureAPIService.PostV1TfaProviderDuoSecurityConfigure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/tfa/provider/duo_security/configure"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1TfaProviderDuoSecurityConfigureRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
