/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type CartsMineCollectTotalsAPI interface {

	/*
		PutV1CartsMineCollecttotals carts/mine/collect-totals

		Set shipping/billing methods and additional data for cart and collect totals.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPutV1CartsMineCollecttotalsRequest
	*/
	PutV1CartsMineCollecttotals(ctx context.Context) ApiPutV1CartsMineCollecttotalsRequest

	// PutV1CartsMineCollecttotalsExecute executes the request
	//  @return QuoteDataTotalsInterface
	PutV1CartsMineCollecttotalsExecute(r ApiPutV1CartsMineCollecttotalsRequest) (*QuoteDataTotalsInterface, *http.Response, error)
}

// CartsMineCollectTotalsAPIService CartsMineCollectTotalsAPI service
type CartsMineCollectTotalsAPIService service

type ApiPutV1CartsMineCollecttotalsRequest struct {
	ctx                                context.Context
	ApiService                         CartsMineCollectTotalsAPI
	putV1CartsMineCollecttotalsRequest *PutV1CartsMineCollecttotalsRequest
}

func (r ApiPutV1CartsMineCollecttotalsRequest) PutV1CartsMineCollecttotalsRequest(putV1CartsMineCollecttotalsRequest PutV1CartsMineCollecttotalsRequest) ApiPutV1CartsMineCollecttotalsRequest {
	r.putV1CartsMineCollecttotalsRequest = &putV1CartsMineCollecttotalsRequest
	return r
}

func (r ApiPutV1CartsMineCollecttotalsRequest) Execute() (*QuoteDataTotalsInterface, *http.Response, error) {
	return r.ApiService.PutV1CartsMineCollecttotalsExecute(r)
}

/*
PutV1CartsMineCollecttotals carts/mine/collect-totals

Set shipping/billing methods and additional data for cart and collect totals.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPutV1CartsMineCollecttotalsRequest
*/
func (a *CartsMineCollectTotalsAPIService) PutV1CartsMineCollecttotals(ctx context.Context) ApiPutV1CartsMineCollecttotalsRequest {
	return ApiPutV1CartsMineCollecttotalsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QuoteDataTotalsInterface
func (a *CartsMineCollectTotalsAPIService) PutV1CartsMineCollecttotalsExecute(r ApiPutV1CartsMineCollecttotalsRequest) (*QuoteDataTotalsInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QuoteDataTotalsInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsMineCollectTotalsAPIService.PutV1CartsMineCollecttotals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/mine/collect-totals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putV1CartsMineCollecttotalsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
