/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ProductsSkuDownloadableLinksAPI interface {

	/*
		GetV1ProductsSkuDownloadablelinks products/{sku}/downloadable-links

		List of links with associated samples

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@return ApiGetV1ProductsSkuDownloadablelinksRequest
	*/
	GetV1ProductsSkuDownloadablelinks(ctx context.Context, sku string) ApiGetV1ProductsSkuDownloadablelinksRequest

	// GetV1ProductsSkuDownloadablelinksExecute executes the request
	//  @return []DownloadableDataLinkInterface
	GetV1ProductsSkuDownloadablelinksExecute(r ApiGetV1ProductsSkuDownloadablelinksRequest) ([]DownloadableDataLinkInterface, *http.Response, error)

	/*
		PostV1ProductsSkuDownloadablelinks products/{sku}/downloadable-links

		Update downloadable link of the given product (link type and its resources cannot be changed)

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@return ApiPostV1ProductsSkuDownloadablelinksRequest
	*/
	PostV1ProductsSkuDownloadablelinks(ctx context.Context, sku string) ApiPostV1ProductsSkuDownloadablelinksRequest

	// PostV1ProductsSkuDownloadablelinksExecute executes the request
	//  @return int32
	PostV1ProductsSkuDownloadablelinksExecute(r ApiPostV1ProductsSkuDownloadablelinksRequest) (int32, *http.Response, error)
}

// ProductsSkuDownloadableLinksAPIService ProductsSkuDownloadableLinksAPI service
type ProductsSkuDownloadableLinksAPIService service

type ApiGetV1ProductsSkuDownloadablelinksRequest struct {
	ctx        context.Context
	ApiService ProductsSkuDownloadableLinksAPI
	sku        string
}

func (r ApiGetV1ProductsSkuDownloadablelinksRequest) Execute() ([]DownloadableDataLinkInterface, *http.Response, error) {
	return r.ApiService.GetV1ProductsSkuDownloadablelinksExecute(r)
}

/*
GetV1ProductsSkuDownloadablelinks products/{sku}/downloadable-links

List of links with associated samples

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@return ApiGetV1ProductsSkuDownloadablelinksRequest
*/
func (a *ProductsSkuDownloadableLinksAPIService) GetV1ProductsSkuDownloadablelinks(ctx context.Context, sku string) ApiGetV1ProductsSkuDownloadablelinksRequest {
	return ApiGetV1ProductsSkuDownloadablelinksRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
	}
}

// Execute executes the request
//
//	@return []DownloadableDataLinkInterface
func (a *ProductsSkuDownloadableLinksAPIService) GetV1ProductsSkuDownloadablelinksExecute(r ApiGetV1ProductsSkuDownloadablelinksRequest) ([]DownloadableDataLinkInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DownloadableDataLinkInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsSkuDownloadableLinksAPIService.GetV1ProductsSkuDownloadablelinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/{sku}/downloadable-links"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1ProductsSkuDownloadablelinksRequest struct {
	ctx                                       context.Context
	ApiService                                ProductsSkuDownloadableLinksAPI
	sku                                       string
	postV1ProductsSkuDownloadablelinksRequest *PostV1ProductsSkuDownloadablelinksRequest
}

func (r ApiPostV1ProductsSkuDownloadablelinksRequest) PostV1ProductsSkuDownloadablelinksRequest(postV1ProductsSkuDownloadablelinksRequest PostV1ProductsSkuDownloadablelinksRequest) ApiPostV1ProductsSkuDownloadablelinksRequest {
	r.postV1ProductsSkuDownloadablelinksRequest = &postV1ProductsSkuDownloadablelinksRequest
	return r
}

func (r ApiPostV1ProductsSkuDownloadablelinksRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.PostV1ProductsSkuDownloadablelinksExecute(r)
}

/*
PostV1ProductsSkuDownloadablelinks products/{sku}/downloadable-links

Update downloadable link of the given product (link type and its resources cannot be changed)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@return ApiPostV1ProductsSkuDownloadablelinksRequest
*/
func (a *ProductsSkuDownloadableLinksAPIService) PostV1ProductsSkuDownloadablelinks(ctx context.Context, sku string) ApiPostV1ProductsSkuDownloadablelinksRequest {
	return ApiPostV1ProductsSkuDownloadablelinksRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
	}
}

// Execute executes the request
//
//	@return int32
func (a *ProductsSkuDownloadableLinksAPIService) PostV1ProductsSkuDownloadablelinksExecute(r ApiPostV1ProductsSkuDownloadablelinksRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsSkuDownloadableLinksAPIService.PostV1ProductsSkuDownloadablelinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/{sku}/downloadable-links"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1ProductsSkuDownloadablelinksRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
