/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type GuestCartsCartIdSelectedPaymentMethodAPI interface {

	/*
		GetV1GuestcartsCartIdSelectedpaymentmethod guest-carts/{cartId}/selected-payment-method

		Return the payment method for a specified shopping cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@return ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest
	*/
	GetV1GuestcartsCartIdSelectedpaymentmethod(ctx context.Context, cartId string) ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest

	// GetV1GuestcartsCartIdSelectedpaymentmethodExecute executes the request
	//  @return QuoteDataPaymentInterface
	GetV1GuestcartsCartIdSelectedpaymentmethodExecute(r ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest) (*QuoteDataPaymentInterface, *http.Response, error)

	/*
		PutV1GuestcartsCartIdSelectedpaymentmethod guest-carts/{cartId}/selected-payment-method

		Add a specified payment method to a specified shopping cart.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@return ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest
	*/
	PutV1GuestcartsCartIdSelectedpaymentmethod(ctx context.Context, cartId string) ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest

	// PutV1GuestcartsCartIdSelectedpaymentmethodExecute executes the request
	//  @return int32
	PutV1GuestcartsCartIdSelectedpaymentmethodExecute(r ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest) (int32, *http.Response, error)
}

// GuestCartsCartIdSelectedPaymentMethodAPIService GuestCartsCartIdSelectedPaymentMethodAPI service
type GuestCartsCartIdSelectedPaymentMethodAPIService service

type ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest struct {
	ctx        context.Context
	ApiService GuestCartsCartIdSelectedPaymentMethodAPI
	cartId     string
}

func (r ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest) Execute() (*QuoteDataPaymentInterface, *http.Response, error) {
	return r.ApiService.GetV1GuestcartsCartIdSelectedpaymentmethodExecute(r)
}

/*
GetV1GuestcartsCartIdSelectedpaymentmethod guest-carts/{cartId}/selected-payment-method

Return the payment method for a specified shopping cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@return ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest
*/
func (a *GuestCartsCartIdSelectedPaymentMethodAPIService) GetV1GuestcartsCartIdSelectedpaymentmethod(ctx context.Context, cartId string) ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest {
	return ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return QuoteDataPaymentInterface
func (a *GuestCartsCartIdSelectedPaymentMethodAPIService) GetV1GuestcartsCartIdSelectedpaymentmethodExecute(r ApiGetV1GuestcartsCartIdSelectedpaymentmethodRequest) (*QuoteDataPaymentInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QuoteDataPaymentInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuestCartsCartIdSelectedPaymentMethodAPIService.GetV1GuestcartsCartIdSelectedpaymentmethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/guest-carts/{cartId}/selected-payment-method"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest struct {
	ctx                                        context.Context
	ApiService                                 GuestCartsCartIdSelectedPaymentMethodAPI
	cartId                                     string
	putV1CartsMineSelectedpaymentmethodRequest *PutV1CartsMineSelectedpaymentmethodRequest
}

func (r ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest) PutV1CartsMineSelectedpaymentmethodRequest(putV1CartsMineSelectedpaymentmethodRequest PutV1CartsMineSelectedpaymentmethodRequest) ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest {
	r.putV1CartsMineSelectedpaymentmethodRequest = &putV1CartsMineSelectedpaymentmethodRequest
	return r
}

func (r ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.PutV1GuestcartsCartIdSelectedpaymentmethodExecute(r)
}

/*
PutV1GuestcartsCartIdSelectedpaymentmethod guest-carts/{cartId}/selected-payment-method

Add a specified payment method to a specified shopping cart.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@return ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest
*/
func (a *GuestCartsCartIdSelectedPaymentMethodAPIService) PutV1GuestcartsCartIdSelectedpaymentmethod(ctx context.Context, cartId string) ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest {
	return ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return int32
func (a *GuestCartsCartIdSelectedPaymentMethodAPIService) PutV1GuestcartsCartIdSelectedpaymentmethodExecute(r ApiPutV1GuestcartsCartIdSelectedpaymentmethodRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuestCartsCartIdSelectedPaymentMethodAPIService.PutV1GuestcartsCartIdSelectedpaymentmethod")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/guest-carts/{cartId}/selected-payment-method"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putV1CartsMineSelectedpaymentmethodRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
