/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CreditmemoIdCommentsAPI interface {

	/*
		GetV1CreditmemoIdComments creditmemo/{id}/comments

		Lists comments for a specified credit memo.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id The credit memo ID.
		@return ApiGetV1CreditmemoIdCommentsRequest
	*/
	GetV1CreditmemoIdComments(ctx context.Context, id int32) ApiGetV1CreditmemoIdCommentsRequest

	// GetV1CreditmemoIdCommentsExecute executes the request
	//  @return SalesDataCreditmemoCommentSearchResultInterface
	GetV1CreditmemoIdCommentsExecute(r ApiGetV1CreditmemoIdCommentsRequest) (*SalesDataCreditmemoCommentSearchResultInterface, *http.Response, error)

	/*
		PostV1CreditmemoIdComments creditmemo/{id}/comments

		Performs persist operations for a specified entity.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id
		@return ApiPostV1CreditmemoIdCommentsRequest
	*/
	PostV1CreditmemoIdComments(ctx context.Context, id string) ApiPostV1CreditmemoIdCommentsRequest

	// PostV1CreditmemoIdCommentsExecute executes the request
	//  @return SalesDataCreditmemoCommentInterface
	PostV1CreditmemoIdCommentsExecute(r ApiPostV1CreditmemoIdCommentsRequest) (*SalesDataCreditmemoCommentInterface, *http.Response, error)
}

// CreditmemoIdCommentsAPIService CreditmemoIdCommentsAPI service
type CreditmemoIdCommentsAPIService service

type ApiGetV1CreditmemoIdCommentsRequest struct {
	ctx        context.Context
	ApiService CreditmemoIdCommentsAPI
	id         int32
}

func (r ApiGetV1CreditmemoIdCommentsRequest) Execute() (*SalesDataCreditmemoCommentSearchResultInterface, *http.Response, error) {
	return r.ApiService.GetV1CreditmemoIdCommentsExecute(r)
}

/*
GetV1CreditmemoIdComments creditmemo/{id}/comments

Lists comments for a specified credit memo.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The credit memo ID.
	@return ApiGetV1CreditmemoIdCommentsRequest
*/
func (a *CreditmemoIdCommentsAPIService) GetV1CreditmemoIdComments(ctx context.Context, id int32) ApiGetV1CreditmemoIdCommentsRequest {
	return ApiGetV1CreditmemoIdCommentsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SalesDataCreditmemoCommentSearchResultInterface
func (a *CreditmemoIdCommentsAPIService) GetV1CreditmemoIdCommentsExecute(r ApiGetV1CreditmemoIdCommentsRequest) (*SalesDataCreditmemoCommentSearchResultInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SalesDataCreditmemoCommentSearchResultInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditmemoIdCommentsAPIService.GetV1CreditmemoIdComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/creditmemo/{id}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1CreditmemoIdCommentsRequest struct {
	ctx                               context.Context
	ApiService                        CreditmemoIdCommentsAPI
	id                                string
	postV1CreditmemoIdCommentsRequest *PostV1CreditmemoIdCommentsRequest
}

func (r ApiPostV1CreditmemoIdCommentsRequest) PostV1CreditmemoIdCommentsRequest(postV1CreditmemoIdCommentsRequest PostV1CreditmemoIdCommentsRequest) ApiPostV1CreditmemoIdCommentsRequest {
	r.postV1CreditmemoIdCommentsRequest = &postV1CreditmemoIdCommentsRequest
	return r
}

func (r ApiPostV1CreditmemoIdCommentsRequest) Execute() (*SalesDataCreditmemoCommentInterface, *http.Response, error) {
	return r.ApiService.PostV1CreditmemoIdCommentsExecute(r)
}

/*
PostV1CreditmemoIdComments creditmemo/{id}/comments

Performs persist operations for a specified entity.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiPostV1CreditmemoIdCommentsRequest
*/
func (a *CreditmemoIdCommentsAPIService) PostV1CreditmemoIdComments(ctx context.Context, id string) ApiPostV1CreditmemoIdCommentsRequest {
	return ApiPostV1CreditmemoIdCommentsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SalesDataCreditmemoCommentInterface
func (a *CreditmemoIdCommentsAPIService) PostV1CreditmemoIdCommentsExecute(r ApiPostV1CreditmemoIdCommentsRequest) (*SalesDataCreditmemoCommentInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SalesDataCreditmemoCommentInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreditmemoIdCommentsAPIService.PostV1CreditmemoIdComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/creditmemo/{id}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CreditmemoIdCommentsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
