/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type InventoryGetDistanceAPI interface {

	/*
		GetV1InventoryGetdistance inventory/get-distance

		Get distance between two points

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1InventoryGetdistanceRequest
	*/
	GetV1InventoryGetdistance(ctx context.Context) ApiGetV1InventoryGetdistanceRequest

	// GetV1InventoryGetdistanceExecute executes the request
	//  @return float32
	GetV1InventoryGetdistanceExecute(r ApiGetV1InventoryGetdistanceRequest) (float32, *http.Response, error)
}

// InventoryGetDistanceAPIService InventoryGetDistanceAPI service
type InventoryGetDistanceAPIService service

type ApiGetV1InventoryGetdistanceRequest struct {
	ctx            context.Context
	ApiService     InventoryGetDistanceAPI
	sourceLat      *float32
	sourceLng      *float32
	destinationLat *float32
	destinationLng *float32
}

// Latitude
func (r ApiGetV1InventoryGetdistanceRequest) SourceLat(sourceLat float32) ApiGetV1InventoryGetdistanceRequest {
	r.sourceLat = &sourceLat
	return r
}

// Longitude
func (r ApiGetV1InventoryGetdistanceRequest) SourceLng(sourceLng float32) ApiGetV1InventoryGetdistanceRequest {
	r.sourceLng = &sourceLng
	return r
}

// Latitude
func (r ApiGetV1InventoryGetdistanceRequest) DestinationLat(destinationLat float32) ApiGetV1InventoryGetdistanceRequest {
	r.destinationLat = &destinationLat
	return r
}

// Longitude
func (r ApiGetV1InventoryGetdistanceRequest) DestinationLng(destinationLng float32) ApiGetV1InventoryGetdistanceRequest {
	r.destinationLng = &destinationLng
	return r
}

func (r ApiGetV1InventoryGetdistanceRequest) Execute() (float32, *http.Response, error) {
	return r.ApiService.GetV1InventoryGetdistanceExecute(r)
}

/*
GetV1InventoryGetdistance inventory/get-distance

Get distance between two points

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1InventoryGetdistanceRequest
*/
func (a *InventoryGetDistanceAPIService) GetV1InventoryGetdistance(ctx context.Context) ApiGetV1InventoryGetdistanceRequest {
	return ApiGetV1InventoryGetdistanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return float32
func (a *InventoryGetDistanceAPIService) GetV1InventoryGetdistanceExecute(r ApiGetV1InventoryGetdistanceRequest) (float32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue float32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryGetDistanceAPIService.GetV1InventoryGetdistance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/inventory/get-distance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sourceLat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source[lat]", r.sourceLat, "form", "")
	}
	if r.sourceLng != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source[lng]", r.sourceLng, "form", "")
	}
	if r.destinationLat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destination[lat]", r.destinationLat, "form", "")
	}
	if r.destinationLng != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destination[lng]", r.destinationLng, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
