/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CompanyCreditsHistoryHistoryIdAPI interface {

	/*
		PutV1CompanyCreditsHistoryHistoryId companyCredits/history/{historyId}

		Update the PO Number and/or comment for a Reimburse transaction.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param historyId
		@return ApiPutV1CompanyCreditsHistoryHistoryIdRequest
	*/
	PutV1CompanyCreditsHistoryHistoryId(ctx context.Context, historyId int32) ApiPutV1CompanyCreditsHistoryHistoryIdRequest

	// PutV1CompanyCreditsHistoryHistoryIdExecute executes the request
	//  @return bool
	PutV1CompanyCreditsHistoryHistoryIdExecute(r ApiPutV1CompanyCreditsHistoryHistoryIdRequest) (bool, *http.Response, error)
}

// CompanyCreditsHistoryHistoryIdAPIService CompanyCreditsHistoryHistoryIdAPI service
type CompanyCreditsHistoryHistoryIdAPIService service

type ApiPutV1CompanyCreditsHistoryHistoryIdRequest struct {
	ctx                                        context.Context
	ApiService                                 CompanyCreditsHistoryHistoryIdAPI
	historyId                                  int32
	putV1CompanyCreditsHistoryHistoryIdRequest *PutV1CompanyCreditsHistoryHistoryIdRequest
}

func (r ApiPutV1CompanyCreditsHistoryHistoryIdRequest) PutV1CompanyCreditsHistoryHistoryIdRequest(putV1CompanyCreditsHistoryHistoryIdRequest PutV1CompanyCreditsHistoryHistoryIdRequest) ApiPutV1CompanyCreditsHistoryHistoryIdRequest {
	r.putV1CompanyCreditsHistoryHistoryIdRequest = &putV1CompanyCreditsHistoryHistoryIdRequest
	return r
}

func (r ApiPutV1CompanyCreditsHistoryHistoryIdRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.PutV1CompanyCreditsHistoryHistoryIdExecute(r)
}

/*
PutV1CompanyCreditsHistoryHistoryId companyCredits/history/{historyId}

Update the PO Number and/or comment for a Reimburse transaction.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param historyId
	@return ApiPutV1CompanyCreditsHistoryHistoryIdRequest
*/
func (a *CompanyCreditsHistoryHistoryIdAPIService) PutV1CompanyCreditsHistoryHistoryId(ctx context.Context, historyId int32) ApiPutV1CompanyCreditsHistoryHistoryIdRequest {
	return ApiPutV1CompanyCreditsHistoryHistoryIdRequest{
		ApiService: a,
		ctx:        ctx,
		historyId:  historyId,
	}
}

// Execute executes the request
//
//	@return bool
func (a *CompanyCreditsHistoryHistoryIdAPIService) PutV1CompanyCreditsHistoryHistoryIdExecute(r ApiPutV1CompanyCreditsHistoryHistoryIdRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyCreditsHistoryHistoryIdAPIService.PutV1CompanyCreditsHistoryHistoryId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/companyCredits/history/{historyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"historyId"+"}", url.PathEscape(parameterValueToString(r.historyId, "historyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putV1CompanyCreditsHistoryHistoryIdRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
