/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type CartsMineEstimateShippingMethodsAPI interface {

	/*
		PostV1CartsMineEstimateshippingmethods carts/mine/estimate-shipping-methods

		Estimate shipping by address and return list of available shipping methods

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostV1CartsMineEstimateshippingmethodsRequest
	*/
	PostV1CartsMineEstimateshippingmethods(ctx context.Context) ApiPostV1CartsMineEstimateshippingmethodsRequest

	// PostV1CartsMineEstimateshippingmethodsExecute executes the request
	//  @return []QuoteDataShippingMethodInterface
	PostV1CartsMineEstimateshippingmethodsExecute(r ApiPostV1CartsMineEstimateshippingmethodsRequest) ([]QuoteDataShippingMethodInterface, *http.Response, error)
}

// CartsMineEstimateShippingMethodsAPIService CartsMineEstimateShippingMethodsAPI service
type CartsMineEstimateShippingMethodsAPIService service

type ApiPostV1CartsMineEstimateshippingmethodsRequest struct {
	ctx                                           context.Context
	ApiService                                    CartsMineEstimateShippingMethodsAPI
	postV1CartsMineEstimateshippingmethodsRequest *PostV1CartsMineEstimateshippingmethodsRequest
}

func (r ApiPostV1CartsMineEstimateshippingmethodsRequest) PostV1CartsMineEstimateshippingmethodsRequest(postV1CartsMineEstimateshippingmethodsRequest PostV1CartsMineEstimateshippingmethodsRequest) ApiPostV1CartsMineEstimateshippingmethodsRequest {
	r.postV1CartsMineEstimateshippingmethodsRequest = &postV1CartsMineEstimateshippingmethodsRequest
	return r
}

func (r ApiPostV1CartsMineEstimateshippingmethodsRequest) Execute() ([]QuoteDataShippingMethodInterface, *http.Response, error) {
	return r.ApiService.PostV1CartsMineEstimateshippingmethodsExecute(r)
}

/*
PostV1CartsMineEstimateshippingmethods carts/mine/estimate-shipping-methods

Estimate shipping by address and return list of available shipping methods

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostV1CartsMineEstimateshippingmethodsRequest
*/
func (a *CartsMineEstimateShippingMethodsAPIService) PostV1CartsMineEstimateshippingmethods(ctx context.Context) ApiPostV1CartsMineEstimateshippingmethodsRequest {
	return ApiPostV1CartsMineEstimateshippingmethodsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []QuoteDataShippingMethodInterface
func (a *CartsMineEstimateShippingMethodsAPIService) PostV1CartsMineEstimateshippingmethodsExecute(r ApiPostV1CartsMineEstimateshippingmethodsRequest) ([]QuoteDataShippingMethodInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []QuoteDataShippingMethodInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsMineEstimateShippingMethodsAPIService.PostV1CartsMineEstimateshippingmethods")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/mine/estimate-shipping-methods"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CartsMineEstimateshippingmethodsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
