/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type NegotiableCartItemNoteNoteIdAPI interface {

	/*
		DeleteV1NegotiablecartitemnoteNoteId negotiable-cart-item-note/{noteId}

		Delete item note by ID.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param noteId
		@return ApiDeleteV1NegotiablecartitemnoteNoteIdRequest
	*/
	DeleteV1NegotiablecartitemnoteNoteId(ctx context.Context, noteId int32) ApiDeleteV1NegotiablecartitemnoteNoteIdRequest

	// DeleteV1NegotiablecartitemnoteNoteIdExecute executes the request
	//  @return ErrorResponse
	DeleteV1NegotiablecartitemnoteNoteIdExecute(r ApiDeleteV1NegotiablecartitemnoteNoteIdRequest) (*ErrorResponse, *http.Response, error)

	/*
		GetV1NegotiablecartitemnoteNoteId negotiable-cart-item-note/{noteId}

		Get item note by ID

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param noteId
		@return ApiGetV1NegotiablecartitemnoteNoteIdRequest
	*/
	GetV1NegotiablecartitemnoteNoteId(ctx context.Context, noteId int32) ApiGetV1NegotiablecartitemnoteNoteIdRequest

	// GetV1NegotiablecartitemnoteNoteIdExecute executes the request
	//  @return NegotiableQuoteDataItemNoteInterface
	GetV1NegotiablecartitemnoteNoteIdExecute(r ApiGetV1NegotiablecartitemnoteNoteIdRequest) (*NegotiableQuoteDataItemNoteInterface, *http.Response, error)
}

// NegotiableCartItemNoteNoteIdAPIService NegotiableCartItemNoteNoteIdAPI service
type NegotiableCartItemNoteNoteIdAPIService service

type ApiDeleteV1NegotiablecartitemnoteNoteIdRequest struct {
	ctx        context.Context
	ApiService NegotiableCartItemNoteNoteIdAPI
	noteId     int32
}

func (r ApiDeleteV1NegotiablecartitemnoteNoteIdRequest) Execute() (*ErrorResponse, *http.Response, error) {
	return r.ApiService.DeleteV1NegotiablecartitemnoteNoteIdExecute(r)
}

/*
DeleteV1NegotiablecartitemnoteNoteId negotiable-cart-item-note/{noteId}

Delete item note by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param noteId
	@return ApiDeleteV1NegotiablecartitemnoteNoteIdRequest
*/
func (a *NegotiableCartItemNoteNoteIdAPIService) DeleteV1NegotiablecartitemnoteNoteId(ctx context.Context, noteId int32) ApiDeleteV1NegotiablecartitemnoteNoteIdRequest {
	return ApiDeleteV1NegotiablecartitemnoteNoteIdRequest{
		ApiService: a,
		ctx:        ctx,
		noteId:     noteId,
	}
}

// Execute executes the request
//
//	@return ErrorResponse
func (a *NegotiableCartItemNoteNoteIdAPIService) DeleteV1NegotiablecartitemnoteNoteIdExecute(r ApiDeleteV1NegotiablecartitemnoteNoteIdRequest) (*ErrorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ErrorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NegotiableCartItemNoteNoteIdAPIService.DeleteV1NegotiablecartitemnoteNoteId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/negotiable-cart-item-note/{noteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"noteId"+"}", url.PathEscape(parameterValueToString(r.noteId, "noteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1NegotiablecartitemnoteNoteIdRequest struct {
	ctx        context.Context
	ApiService NegotiableCartItemNoteNoteIdAPI
	noteId     int32
}

func (r ApiGetV1NegotiablecartitemnoteNoteIdRequest) Execute() (*NegotiableQuoteDataItemNoteInterface, *http.Response, error) {
	return r.ApiService.GetV1NegotiablecartitemnoteNoteIdExecute(r)
}

/*
GetV1NegotiablecartitemnoteNoteId negotiable-cart-item-note/{noteId}

Get item note by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param noteId
	@return ApiGetV1NegotiablecartitemnoteNoteIdRequest
*/
func (a *NegotiableCartItemNoteNoteIdAPIService) GetV1NegotiablecartitemnoteNoteId(ctx context.Context, noteId int32) ApiGetV1NegotiablecartitemnoteNoteIdRequest {
	return ApiGetV1NegotiablecartitemnoteNoteIdRequest{
		ApiService: a,
		ctx:        ctx,
		noteId:     noteId,
	}
}

// Execute executes the request
//
//	@return NegotiableQuoteDataItemNoteInterface
func (a *NegotiableCartItemNoteNoteIdAPIService) GetV1NegotiablecartitemnoteNoteIdExecute(r ApiGetV1NegotiablecartitemnoteNoteIdRequest) (*NegotiableQuoteDataItemNoteInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NegotiableQuoteDataItemNoteInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NegotiableCartItemNoteNoteIdAPIService.GetV1NegotiablecartitemnoteNoteId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/negotiable-cart-item-note/{noteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"noteId"+"}", url.PathEscape(parameterValueToString(r.noteId, "noteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
