/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type NegotiableQuoteAttachmentContentAPI interface {

	/*
		GetV1NegotiableQuoteAttachmentContent negotiableQuote/attachmentContent

		Returns content for one or more files attached on the quote comment.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1NegotiableQuoteAttachmentContentRequest
	*/
	GetV1NegotiableQuoteAttachmentContent(ctx context.Context) ApiGetV1NegotiableQuoteAttachmentContentRequest

	// GetV1NegotiableQuoteAttachmentContentExecute executes the request
	//  @return []NegotiableQuoteDataAttachmentContentInterface
	GetV1NegotiableQuoteAttachmentContentExecute(r ApiGetV1NegotiableQuoteAttachmentContentRequest) ([]NegotiableQuoteDataAttachmentContentInterface, *http.Response, error)
}

// NegotiableQuoteAttachmentContentAPIService NegotiableQuoteAttachmentContentAPI service
type NegotiableQuoteAttachmentContentAPIService service

type ApiGetV1NegotiableQuoteAttachmentContentRequest struct {
	ctx           context.Context
	ApiService    NegotiableQuoteAttachmentContentAPI
	attachmentIds *[]int32
}

func (r ApiGetV1NegotiableQuoteAttachmentContentRequest) AttachmentIds(attachmentIds []int32) ApiGetV1NegotiableQuoteAttachmentContentRequest {
	r.attachmentIds = &attachmentIds
	return r
}

func (r ApiGetV1NegotiableQuoteAttachmentContentRequest) Execute() ([]NegotiableQuoteDataAttachmentContentInterface, *http.Response, error) {
	return r.ApiService.GetV1NegotiableQuoteAttachmentContentExecute(r)
}

/*
GetV1NegotiableQuoteAttachmentContent negotiableQuote/attachmentContent

Returns content for one or more files attached on the quote comment.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1NegotiableQuoteAttachmentContentRequest
*/
func (a *NegotiableQuoteAttachmentContentAPIService) GetV1NegotiableQuoteAttachmentContent(ctx context.Context) ApiGetV1NegotiableQuoteAttachmentContentRequest {
	return ApiGetV1NegotiableQuoteAttachmentContentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []NegotiableQuoteDataAttachmentContentInterface
func (a *NegotiableQuoteAttachmentContentAPIService) GetV1NegotiableQuoteAttachmentContentExecute(r ApiGetV1NegotiableQuoteAttachmentContentRequest) ([]NegotiableQuoteDataAttachmentContentInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []NegotiableQuoteDataAttachmentContentInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NegotiableQuoteAttachmentContentAPIService.GetV1NegotiableQuoteAttachmentContent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/negotiableQuote/attachmentContent"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.attachmentIds == nil {
		return localVarReturnValue, nil, reportError("attachmentIds is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "attachmentIds", r.attachmentIds, "form", "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
