/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type OrdersParentIdAPI interface {

	/*
		PutV1OrdersParentId orders/{parent_id}

		Performs persist operations for a specified order address.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param parentId
		@return ApiPutV1OrdersParentIdRequest
	*/
	PutV1OrdersParentId(ctx context.Context, parentId string) ApiPutV1OrdersParentIdRequest

	// PutV1OrdersParentIdExecute executes the request
	//  @return SalesDataOrderAddressInterface
	PutV1OrdersParentIdExecute(r ApiPutV1OrdersParentIdRequest) (*SalesDataOrderAddressInterface, *http.Response, error)
}

// OrdersParentIdAPIService OrdersParentIdAPI service
type OrdersParentIdAPIService service

type ApiPutV1OrdersParentIdRequest struct {
	ctx                        context.Context
	ApiService                 OrdersParentIdAPI
	parentId                   string
	putV1OrdersParentIdRequest *PutV1OrdersParentIdRequest
}

func (r ApiPutV1OrdersParentIdRequest) PutV1OrdersParentIdRequest(putV1OrdersParentIdRequest PutV1OrdersParentIdRequest) ApiPutV1OrdersParentIdRequest {
	r.putV1OrdersParentIdRequest = &putV1OrdersParentIdRequest
	return r
}

func (r ApiPutV1OrdersParentIdRequest) Execute() (*SalesDataOrderAddressInterface, *http.Response, error) {
	return r.ApiService.PutV1OrdersParentIdExecute(r)
}

/*
PutV1OrdersParentId orders/{parent_id}

Performs persist operations for a specified order address.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param parentId
	@return ApiPutV1OrdersParentIdRequest
*/
func (a *OrdersParentIdAPIService) PutV1OrdersParentId(ctx context.Context, parentId string) ApiPutV1OrdersParentIdRequest {
	return ApiPutV1OrdersParentIdRequest{
		ApiService: a,
		ctx:        ctx,
		parentId:   parentId,
	}
}

// Execute executes the request
//
//	@return SalesDataOrderAddressInterface
func (a *OrdersParentIdAPIService) PutV1OrdersParentIdExecute(r ApiPutV1OrdersParentIdRequest) (*SalesDataOrderAddressInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SalesDataOrderAddressInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrdersParentIdAPIService.PutV1OrdersParentId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/orders/{parent_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"parent_id"+"}", url.PathEscape(parameterValueToString(r.parentId, "parentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putV1OrdersParentIdRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
