/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CartsCartIdGiftMessageAPI interface {

	/*
		GetV1CartsCartIdGiftmessage carts/{cartId}/gift-message

		Return the gift message for a specified order.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The shopping cart ID.
		@return ApiGetV1CartsCartIdGiftmessageRequest
	*/
	GetV1CartsCartIdGiftmessage(ctx context.Context, cartId int32) ApiGetV1CartsCartIdGiftmessageRequest

	// GetV1CartsCartIdGiftmessageExecute executes the request
	//  @return GiftMessageDataMessageInterface
	GetV1CartsCartIdGiftmessageExecute(r ApiGetV1CartsCartIdGiftmessageRequest) (*GiftMessageDataMessageInterface, *http.Response, error)

	/*
		PostV1CartsCartIdGiftmessage carts/{cartId}/gift-message

		Set the gift message for an entire order.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param cartId The cart ID.
		@return ApiPostV1CartsCartIdGiftmessageRequest
	*/
	PostV1CartsCartIdGiftmessage(ctx context.Context, cartId int32) ApiPostV1CartsCartIdGiftmessageRequest

	// PostV1CartsCartIdGiftmessageExecute executes the request
	//  @return bool
	PostV1CartsCartIdGiftmessageExecute(r ApiPostV1CartsCartIdGiftmessageRequest) (bool, *http.Response, error)
}

// CartsCartIdGiftMessageAPIService CartsCartIdGiftMessageAPI service
type CartsCartIdGiftMessageAPIService service

type ApiGetV1CartsCartIdGiftmessageRequest struct {
	ctx        context.Context
	ApiService CartsCartIdGiftMessageAPI
	cartId     int32
}

func (r ApiGetV1CartsCartIdGiftmessageRequest) Execute() (*GiftMessageDataMessageInterface, *http.Response, error) {
	return r.ApiService.GetV1CartsCartIdGiftmessageExecute(r)
}

/*
GetV1CartsCartIdGiftmessage carts/{cartId}/gift-message

Return the gift message for a specified order.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The shopping cart ID.
	@return ApiGetV1CartsCartIdGiftmessageRequest
*/
func (a *CartsCartIdGiftMessageAPIService) GetV1CartsCartIdGiftmessage(ctx context.Context, cartId int32) ApiGetV1CartsCartIdGiftmessageRequest {
	return ApiGetV1CartsCartIdGiftmessageRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return GiftMessageDataMessageInterface
func (a *CartsCartIdGiftMessageAPIService) GetV1CartsCartIdGiftmessageExecute(r ApiGetV1CartsCartIdGiftmessageRequest) (*GiftMessageDataMessageInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GiftMessageDataMessageInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsCartIdGiftMessageAPIService.GetV1CartsCartIdGiftmessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/{cartId}/gift-message"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1CartsCartIdGiftmessageRequest struct {
	ctx                               context.Context
	ApiService                        CartsCartIdGiftMessageAPI
	cartId                            int32
	postV1CartsMineGiftmessageRequest *PostV1CartsMineGiftmessageRequest
}

func (r ApiPostV1CartsCartIdGiftmessageRequest) PostV1CartsMineGiftmessageRequest(postV1CartsMineGiftmessageRequest PostV1CartsMineGiftmessageRequest) ApiPostV1CartsCartIdGiftmessageRequest {
	r.postV1CartsMineGiftmessageRequest = &postV1CartsMineGiftmessageRequest
	return r
}

func (r ApiPostV1CartsCartIdGiftmessageRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.PostV1CartsCartIdGiftmessageExecute(r)
}

/*
PostV1CartsCartIdGiftmessage carts/{cartId}/gift-message

Set the gift message for an entire order.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cartId The cart ID.
	@return ApiPostV1CartsCartIdGiftmessageRequest
*/
func (a *CartsCartIdGiftMessageAPIService) PostV1CartsCartIdGiftmessage(ctx context.Context, cartId int32) ApiPostV1CartsCartIdGiftmessageRequest {
	return ApiPostV1CartsCartIdGiftmessageRequest{
		ApiService: a,
		ctx:        ctx,
		cartId:     cartId,
	}
}

// Execute executes the request
//
//	@return bool
func (a *CartsCartIdGiftMessageAPIService) PostV1CartsCartIdGiftmessageExecute(r ApiPostV1CartsCartIdGiftmessageRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartsCartIdGiftMessageAPIService.PostV1CartsCartIdGiftmessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/carts/{cartId}/gift-message"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CartsMineGiftmessageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
