/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type SharedCatalogSharedCatalogIdAPI interface {

	/*
		DeleteV1SharedCatalogSharedCatalogId sharedCatalog/{sharedCatalogId}

		Delete a shared catalog by ID.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sharedCatalogId
		@return ApiDeleteV1SharedCatalogSharedCatalogIdRequest
	*/
	DeleteV1SharedCatalogSharedCatalogId(ctx context.Context, sharedCatalogId int32) ApiDeleteV1SharedCatalogSharedCatalogIdRequest

	// DeleteV1SharedCatalogSharedCatalogIdExecute executes the request
	//  @return bool
	DeleteV1SharedCatalogSharedCatalogIdExecute(r ApiDeleteV1SharedCatalogSharedCatalogIdRequest) (bool, *http.Response, error)

	/*
		GetV1SharedCatalogSharedCatalogId sharedCatalog/{sharedCatalogId}

		Return the following properties for the selected shared catalog: ID, Store Group ID, Name, Type, Description, Customer Group, Tax Class.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sharedCatalogId
		@return ApiGetV1SharedCatalogSharedCatalogIdRequest
	*/
	GetV1SharedCatalogSharedCatalogId(ctx context.Context, sharedCatalogId int32) ApiGetV1SharedCatalogSharedCatalogIdRequest

	// GetV1SharedCatalogSharedCatalogIdExecute executes the request
	//  @return SharedCatalogDataSharedCatalogInterface
	GetV1SharedCatalogSharedCatalogIdExecute(r ApiGetV1SharedCatalogSharedCatalogIdRequest) (*SharedCatalogDataSharedCatalogInterface, *http.Response, error)
}

// SharedCatalogSharedCatalogIdAPIService SharedCatalogSharedCatalogIdAPI service
type SharedCatalogSharedCatalogIdAPIService service

type ApiDeleteV1SharedCatalogSharedCatalogIdRequest struct {
	ctx             context.Context
	ApiService      SharedCatalogSharedCatalogIdAPI
	sharedCatalogId int32
}

func (r ApiDeleteV1SharedCatalogSharedCatalogIdRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.DeleteV1SharedCatalogSharedCatalogIdExecute(r)
}

/*
DeleteV1SharedCatalogSharedCatalogId sharedCatalog/{sharedCatalogId}

Delete a shared catalog by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sharedCatalogId
	@return ApiDeleteV1SharedCatalogSharedCatalogIdRequest
*/
func (a *SharedCatalogSharedCatalogIdAPIService) DeleteV1SharedCatalogSharedCatalogId(ctx context.Context, sharedCatalogId int32) ApiDeleteV1SharedCatalogSharedCatalogIdRequest {
	return ApiDeleteV1SharedCatalogSharedCatalogIdRequest{
		ApiService:      a,
		ctx:             ctx,
		sharedCatalogId: sharedCatalogId,
	}
}

// Execute executes the request
//
//	@return bool
func (a *SharedCatalogSharedCatalogIdAPIService) DeleteV1SharedCatalogSharedCatalogIdExecute(r ApiDeleteV1SharedCatalogSharedCatalogIdRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedCatalogSharedCatalogIdAPIService.DeleteV1SharedCatalogSharedCatalogId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/sharedCatalog/{sharedCatalogId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sharedCatalogId"+"}", url.PathEscape(parameterValueToString(r.sharedCatalogId, "sharedCatalogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1SharedCatalogSharedCatalogIdRequest struct {
	ctx             context.Context
	ApiService      SharedCatalogSharedCatalogIdAPI
	sharedCatalogId int32
}

func (r ApiGetV1SharedCatalogSharedCatalogIdRequest) Execute() (*SharedCatalogDataSharedCatalogInterface, *http.Response, error) {
	return r.ApiService.GetV1SharedCatalogSharedCatalogIdExecute(r)
}

/*
GetV1SharedCatalogSharedCatalogId sharedCatalog/{sharedCatalogId}

Return the following properties for the selected shared catalog: ID, Store Group ID, Name, Type, Description, Customer Group, Tax Class.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sharedCatalogId
	@return ApiGetV1SharedCatalogSharedCatalogIdRequest
*/
func (a *SharedCatalogSharedCatalogIdAPIService) GetV1SharedCatalogSharedCatalogId(ctx context.Context, sharedCatalogId int32) ApiGetV1SharedCatalogSharedCatalogIdRequest {
	return ApiGetV1SharedCatalogSharedCatalogIdRequest{
		ApiService:      a,
		ctx:             ctx,
		sharedCatalogId: sharedCatalogId,
	}
}

// Execute executes the request
//
//	@return SharedCatalogDataSharedCatalogInterface
func (a *SharedCatalogSharedCatalogIdAPIService) GetV1SharedCatalogSharedCatalogIdExecute(r ApiGetV1SharedCatalogSharedCatalogIdRequest) (*SharedCatalogDataSharedCatalogInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SharedCatalogDataSharedCatalogInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedCatalogSharedCatalogIdAPIService.GetV1SharedCatalogSharedCatalogId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/sharedCatalog/{sharedCatalogId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sharedCatalogId"+"}", url.PathEscape(parameterValueToString(r.sharedCatalogId, "sharedCatalogId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
