/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type CouponsDeleteByIdsAPI interface {

	/*
		PostV1CouponsDeleteByIds coupons/deleteByIds

		Delete coupon by coupon ids.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostV1CouponsDeleteByIdsRequest
	*/
	PostV1CouponsDeleteByIds(ctx context.Context) ApiPostV1CouponsDeleteByIdsRequest

	// PostV1CouponsDeleteByIdsExecute executes the request
	//  @return SalesRuleDataCouponMassDeleteResultInterface
	PostV1CouponsDeleteByIdsExecute(r ApiPostV1CouponsDeleteByIdsRequest) (*SalesRuleDataCouponMassDeleteResultInterface, *http.Response, error)
}

// CouponsDeleteByIdsAPIService CouponsDeleteByIdsAPI service
type CouponsDeleteByIdsAPIService service

type ApiPostV1CouponsDeleteByIdsRequest struct {
	ctx                             context.Context
	ApiService                      CouponsDeleteByIdsAPI
	postV1CouponsDeleteByIdsRequest *PostV1CouponsDeleteByIdsRequest
}

func (r ApiPostV1CouponsDeleteByIdsRequest) PostV1CouponsDeleteByIdsRequest(postV1CouponsDeleteByIdsRequest PostV1CouponsDeleteByIdsRequest) ApiPostV1CouponsDeleteByIdsRequest {
	r.postV1CouponsDeleteByIdsRequest = &postV1CouponsDeleteByIdsRequest
	return r
}

func (r ApiPostV1CouponsDeleteByIdsRequest) Execute() (*SalesRuleDataCouponMassDeleteResultInterface, *http.Response, error) {
	return r.ApiService.PostV1CouponsDeleteByIdsExecute(r)
}

/*
PostV1CouponsDeleteByIds coupons/deleteByIds

Delete coupon by coupon ids.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostV1CouponsDeleteByIdsRequest
*/
func (a *CouponsDeleteByIdsAPIService) PostV1CouponsDeleteByIds(ctx context.Context) ApiPostV1CouponsDeleteByIdsRequest {
	return ApiPostV1CouponsDeleteByIdsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SalesRuleDataCouponMassDeleteResultInterface
func (a *CouponsDeleteByIdsAPIService) PostV1CouponsDeleteByIdsExecute(r ApiPostV1CouponsDeleteByIdsRequest) (*SalesRuleDataCouponMassDeleteResultInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SalesRuleDataCouponMassDeleteResultInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CouponsDeleteByIdsAPIService.PostV1CouponsDeleteByIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/coupons/deleteByIds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1CouponsDeleteByIdsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
