/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type StockItemsLowStockAPI interface {

	/*
		GetV1StockItemsLowStock stockItems/lowStock/

		Retrieves a list of SKU's with low inventory qty

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1StockItemsLowStockRequest
	*/
	GetV1StockItemsLowStock(ctx context.Context) ApiGetV1StockItemsLowStockRequest

	// GetV1StockItemsLowStockExecute executes the request
	//  @return CatalogInventoryDataStockItemCollectionInterface
	GetV1StockItemsLowStockExecute(r ApiGetV1StockItemsLowStockRequest) (*CatalogInventoryDataStockItemCollectionInterface, *http.Response, error)
}

// StockItemsLowStockAPIService StockItemsLowStockAPI service
type StockItemsLowStockAPIService service

type ApiGetV1StockItemsLowStockRequest struct {
	ctx         context.Context
	ApiService  StockItemsLowStockAPI
	scopeId     *int32
	qty         *float32
	currentPage *int32
	pageSize    *int32
}

func (r ApiGetV1StockItemsLowStockRequest) ScopeId(scopeId int32) ApiGetV1StockItemsLowStockRequest {
	r.scopeId = &scopeId
	return r
}

func (r ApiGetV1StockItemsLowStockRequest) Qty(qty float32) ApiGetV1StockItemsLowStockRequest {
	r.qty = &qty
	return r
}

func (r ApiGetV1StockItemsLowStockRequest) CurrentPage(currentPage int32) ApiGetV1StockItemsLowStockRequest {
	r.currentPage = &currentPage
	return r
}

func (r ApiGetV1StockItemsLowStockRequest) PageSize(pageSize int32) ApiGetV1StockItemsLowStockRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetV1StockItemsLowStockRequest) Execute() (*CatalogInventoryDataStockItemCollectionInterface, *http.Response, error) {
	return r.ApiService.GetV1StockItemsLowStockExecute(r)
}

/*
GetV1StockItemsLowStock stockItems/lowStock/

Retrieves a list of SKU's with low inventory qty

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1StockItemsLowStockRequest
*/
func (a *StockItemsLowStockAPIService) GetV1StockItemsLowStock(ctx context.Context) ApiGetV1StockItemsLowStockRequest {
	return ApiGetV1StockItemsLowStockRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CatalogInventoryDataStockItemCollectionInterface
func (a *StockItemsLowStockAPIService) GetV1StockItemsLowStockExecute(r ApiGetV1StockItemsLowStockRequest) (*CatalogInventoryDataStockItemCollectionInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogInventoryDataStockItemCollectionInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StockItemsLowStockAPIService.GetV1StockItemsLowStock")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/stockItems/lowStock/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scopeId == nil {
		return localVarReturnValue, nil, reportError("scopeId is required and must be specified")
	}
	if r.qty == nil {
		return localVarReturnValue, nil, reportError("qty is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "scopeId", r.scopeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "qty", r.qty, "form", "")
	if r.currentPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentPage", r.currentPage, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
