/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type TfaDefaultProviderCodeUserIdAPI interface {

	/*
		GetV1TfaDefaultprovidercodeUserId tfa/default-provider-code/{userId}

		Get default provider

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param userId
		@return ApiGetV1TfaDefaultprovidercodeUserIdRequest
	*/
	GetV1TfaDefaultprovidercodeUserId(ctx context.Context, userId int32) ApiGetV1TfaDefaultprovidercodeUserIdRequest

	// GetV1TfaDefaultprovidercodeUserIdExecute executes the request
	//  @return string
	GetV1TfaDefaultprovidercodeUserIdExecute(r ApiGetV1TfaDefaultprovidercodeUserIdRequest) (string, *http.Response, error)

	/*
		PutV1TfaDefaultprovidercodeUserId tfa/default-provider-code/{userId}

		Set default provider code

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param userId
		@return ApiPutV1TfaDefaultprovidercodeUserIdRequest
	*/
	PutV1TfaDefaultprovidercodeUserId(ctx context.Context, userId int32) ApiPutV1TfaDefaultprovidercodeUserIdRequest

	// PutV1TfaDefaultprovidercodeUserIdExecute executes the request
	//  @return bool
	PutV1TfaDefaultprovidercodeUserIdExecute(r ApiPutV1TfaDefaultprovidercodeUserIdRequest) (bool, *http.Response, error)
}

// TfaDefaultProviderCodeUserIdAPIService TfaDefaultProviderCodeUserIdAPI service
type TfaDefaultProviderCodeUserIdAPIService service

type ApiGetV1TfaDefaultprovidercodeUserIdRequest struct {
	ctx        context.Context
	ApiService TfaDefaultProviderCodeUserIdAPI
	userId     int32
}

func (r ApiGetV1TfaDefaultprovidercodeUserIdRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.GetV1TfaDefaultprovidercodeUserIdExecute(r)
}

/*
GetV1TfaDefaultprovidercodeUserId tfa/default-provider-code/{userId}

Get default provider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return ApiGetV1TfaDefaultprovidercodeUserIdRequest
*/
func (a *TfaDefaultProviderCodeUserIdAPIService) GetV1TfaDefaultprovidercodeUserId(ctx context.Context, userId int32) ApiGetV1TfaDefaultprovidercodeUserIdRequest {
	return ApiGetV1TfaDefaultprovidercodeUserIdRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return string
func (a *TfaDefaultProviderCodeUserIdAPIService) GetV1TfaDefaultprovidercodeUserIdExecute(r ApiGetV1TfaDefaultprovidercodeUserIdRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TfaDefaultProviderCodeUserIdAPIService.GetV1TfaDefaultprovidercodeUserId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/tfa/default-provider-code/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1TfaDefaultprovidercodeUserIdRequest struct {
	ctx                                      context.Context
	ApiService                               TfaDefaultProviderCodeUserIdAPI
	userId                                   int32
	putV1TfaDefaultprovidercodeUserIdRequest *PutV1TfaDefaultprovidercodeUserIdRequest
}

func (r ApiPutV1TfaDefaultprovidercodeUserIdRequest) PutV1TfaDefaultprovidercodeUserIdRequest(putV1TfaDefaultprovidercodeUserIdRequest PutV1TfaDefaultprovidercodeUserIdRequest) ApiPutV1TfaDefaultprovidercodeUserIdRequest {
	r.putV1TfaDefaultprovidercodeUserIdRequest = &putV1TfaDefaultprovidercodeUserIdRequest
	return r
}

func (r ApiPutV1TfaDefaultprovidercodeUserIdRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.PutV1TfaDefaultprovidercodeUserIdExecute(r)
}

/*
PutV1TfaDefaultprovidercodeUserId tfa/default-provider-code/{userId}

Set default provider code

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return ApiPutV1TfaDefaultprovidercodeUserIdRequest
*/
func (a *TfaDefaultProviderCodeUserIdAPIService) PutV1TfaDefaultprovidercodeUserId(ctx context.Context, userId int32) ApiPutV1TfaDefaultprovidercodeUserIdRequest {
	return ApiPutV1TfaDefaultprovidercodeUserIdRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return bool
func (a *TfaDefaultProviderCodeUserIdAPIService) PutV1TfaDefaultprovidercodeUserIdExecute(r ApiPutV1TfaDefaultprovidercodeUserIdRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TfaDefaultProviderCodeUserIdAPIService.PutV1TfaDefaultprovidercodeUserId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/tfa/default-provider-code/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putV1TfaDefaultprovidercodeUserIdRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
