/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type TfaTfatUserProvidersAPI interface {

	/*
		GetV1TfaTfatuserproviders tfa/tfat-user-providers

		Get the providers that the user is able to use for 2fa

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetV1TfaTfatuserprovidersRequest
	*/
	GetV1TfaTfatuserproviders(ctx context.Context) ApiGetV1TfaTfatuserprovidersRequest

	// GetV1TfaTfatuserprovidersExecute executes the request
	//  @return []TwoFactorAuthProviderInterface
	GetV1TfaTfatuserprovidersExecute(r ApiGetV1TfaTfatuserprovidersRequest) ([]TwoFactorAuthProviderInterface, *http.Response, error)
}

// TfaTfatUserProvidersAPIService TfaTfatUserProvidersAPI service
type TfaTfatUserProvidersAPIService service

type ApiGetV1TfaTfatuserprovidersRequest struct {
	ctx        context.Context
	ApiService TfaTfatUserProvidersAPI
	tfaToken   *string
}

func (r ApiGetV1TfaTfatuserprovidersRequest) TfaToken(tfaToken string) ApiGetV1TfaTfatuserprovidersRequest {
	r.tfaToken = &tfaToken
	return r
}

func (r ApiGetV1TfaTfatuserprovidersRequest) Execute() ([]TwoFactorAuthProviderInterface, *http.Response, error) {
	return r.ApiService.GetV1TfaTfatuserprovidersExecute(r)
}

/*
GetV1TfaTfatuserproviders tfa/tfat-user-providers

Get the providers that the user is able to use for 2fa

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetV1TfaTfatuserprovidersRequest
*/
func (a *TfaTfatUserProvidersAPIService) GetV1TfaTfatuserproviders(ctx context.Context) ApiGetV1TfaTfatuserprovidersRequest {
	return ApiGetV1TfaTfatuserprovidersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []TwoFactorAuthProviderInterface
func (a *TfaTfatUserProvidersAPIService) GetV1TfaTfatuserprovidersExecute(r ApiGetV1TfaTfatuserprovidersRequest) ([]TwoFactorAuthProviderInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TwoFactorAuthProviderInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TfaTfatUserProvidersAPIService.GetV1TfaTfatuserproviders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/tfa/tfat-user-providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tfaToken == nil {
		return localVarReturnValue, nil, reportError("tfaToken is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tfaToken", r.tfaToken, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
