/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type BundleProductsSkuOptionsOptionIdAPI interface {

	/*
		DeleteV1BundleproductsSkuOptionsOptionId bundle-products/{sku}/options/{optionId}

		Remove bundle option

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@param optionId
		@return ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest
	*/
	DeleteV1BundleproductsSkuOptionsOptionId(ctx context.Context, sku string, optionId int32) ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest

	// DeleteV1BundleproductsSkuOptionsOptionIdExecute executes the request
	//  @return bool
	DeleteV1BundleproductsSkuOptionsOptionIdExecute(r ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest) (bool, *http.Response, error)

	/*
		GetV1BundleproductsSkuOptionsOptionId bundle-products/{sku}/options/{optionId}

		Get option for bundle product

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@param optionId
		@return ApiGetV1BundleproductsSkuOptionsOptionIdRequest
	*/
	GetV1BundleproductsSkuOptionsOptionId(ctx context.Context, sku string, optionId int32) ApiGetV1BundleproductsSkuOptionsOptionIdRequest

	// GetV1BundleproductsSkuOptionsOptionIdExecute executes the request
	//  @return BundleDataOptionInterface
	GetV1BundleproductsSkuOptionsOptionIdExecute(r ApiGetV1BundleproductsSkuOptionsOptionIdRequest) (*BundleDataOptionInterface, *http.Response, error)
}

// BundleProductsSkuOptionsOptionIdAPIService BundleProductsSkuOptionsOptionIdAPI service
type BundleProductsSkuOptionsOptionIdAPIService service

type ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest struct {
	ctx        context.Context
	ApiService BundleProductsSkuOptionsOptionIdAPI
	sku        string
	optionId   int32
}

func (r ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.DeleteV1BundleproductsSkuOptionsOptionIdExecute(r)
}

/*
DeleteV1BundleproductsSkuOptionsOptionId bundle-products/{sku}/options/{optionId}

Remove bundle option

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@param optionId
	@return ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest
*/
func (a *BundleProductsSkuOptionsOptionIdAPIService) DeleteV1BundleproductsSkuOptionsOptionId(ctx context.Context, sku string, optionId int32) ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest {
	return ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
		optionId:   optionId,
	}
}

// Execute executes the request
//
//	@return bool
func (a *BundleProductsSkuOptionsOptionIdAPIService) DeleteV1BundleproductsSkuOptionsOptionIdExecute(r ApiDeleteV1BundleproductsSkuOptionsOptionIdRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleProductsSkuOptionsOptionIdAPIService.DeleteV1BundleproductsSkuOptionsOptionId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/bundle-products/{sku}/options/{optionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"optionId"+"}", url.PathEscape(parameterValueToString(r.optionId, "optionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1BundleproductsSkuOptionsOptionIdRequest struct {
	ctx        context.Context
	ApiService BundleProductsSkuOptionsOptionIdAPI
	sku        string
	optionId   int32
}

func (r ApiGetV1BundleproductsSkuOptionsOptionIdRequest) Execute() (*BundleDataOptionInterface, *http.Response, error) {
	return r.ApiService.GetV1BundleproductsSkuOptionsOptionIdExecute(r)
}

/*
GetV1BundleproductsSkuOptionsOptionId bundle-products/{sku}/options/{optionId}

Get option for bundle product

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@param optionId
	@return ApiGetV1BundleproductsSkuOptionsOptionIdRequest
*/
func (a *BundleProductsSkuOptionsOptionIdAPIService) GetV1BundleproductsSkuOptionsOptionId(ctx context.Context, sku string, optionId int32) ApiGetV1BundleproductsSkuOptionsOptionIdRequest {
	return ApiGetV1BundleproductsSkuOptionsOptionIdRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
		optionId:   optionId,
	}
}

// Execute executes the request
//
//	@return BundleDataOptionInterface
func (a *BundleProductsSkuOptionsOptionIdAPIService) GetV1BundleproductsSkuOptionsOptionIdExecute(r ApiGetV1BundleproductsSkuOptionsOptionIdRequest) (*BundleDataOptionInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BundleDataOptionInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BundleProductsSkuOptionsOptionIdAPIService.GetV1BundleproductsSkuOptionsOptionId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/bundle-products/{sku}/options/{optionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"optionId"+"}", url.PathEscape(parameterValueToString(r.optionId, "optionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
