/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ProductsSkuDownloadableLinksSamplesIdAPI interface {

	/*
		PutV1ProductsSkuDownloadablelinksSamplesId products/{sku}/downloadable-links/samples/{id}

		Update downloadable sample of the given product

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param sku
		@param id
		@return ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest
	*/
	PutV1ProductsSkuDownloadablelinksSamplesId(ctx context.Context, sku string, id string) ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest

	// PutV1ProductsSkuDownloadablelinksSamplesIdExecute executes the request
	//  @return int32
	PutV1ProductsSkuDownloadablelinksSamplesIdExecute(r ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest) (int32, *http.Response, error)
}

// ProductsSkuDownloadableLinksSamplesIdAPIService ProductsSkuDownloadableLinksSamplesIdAPI service
type ProductsSkuDownloadableLinksSamplesIdAPIService service

type ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest struct {
	ctx                                              context.Context
	ApiService                                       ProductsSkuDownloadableLinksSamplesIdAPI
	sku                                              string
	id                                               string
	postV1ProductsSkuDownloadablelinksSamplesRequest *PostV1ProductsSkuDownloadablelinksSamplesRequest
}

func (r ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest) PostV1ProductsSkuDownloadablelinksSamplesRequest(postV1ProductsSkuDownloadablelinksSamplesRequest PostV1ProductsSkuDownloadablelinksSamplesRequest) ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest {
	r.postV1ProductsSkuDownloadablelinksSamplesRequest = &postV1ProductsSkuDownloadablelinksSamplesRequest
	return r
}

func (r ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest) Execute() (int32, *http.Response, error) {
	return r.ApiService.PutV1ProductsSkuDownloadablelinksSamplesIdExecute(r)
}

/*
PutV1ProductsSkuDownloadablelinksSamplesId products/{sku}/downloadable-links/samples/{id}

Update downloadable sample of the given product

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sku
	@param id
	@return ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest
*/
func (a *ProductsSkuDownloadableLinksSamplesIdAPIService) PutV1ProductsSkuDownloadablelinksSamplesId(ctx context.Context, sku string, id string) ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest {
	return ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest{
		ApiService: a,
		ctx:        ctx,
		sku:        sku,
		id:         id,
	}
}

// Execute executes the request
//
//	@return int32
func (a *ProductsSkuDownloadableLinksSamplesIdAPIService) PutV1ProductsSkuDownloadablelinksSamplesIdExecute(r ApiPutV1ProductsSkuDownloadablelinksSamplesIdRequest) (int32, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsSkuDownloadableLinksSamplesIdAPIService.PutV1ProductsSkuDownloadablelinksSamplesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/products/{sku}/downloadable-links/samples/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"sku"+"}", url.PathEscape(parameterValueToString(r.sku, "sku")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postV1ProductsSkuDownloadablelinksSamplesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
