/*
Commerce Admin REST endpoints - All inclusive

The schemas documented here are autogenerated from an instance of Adobe Commerce with B2B. Each schema represents a specific user role (Admin, Customer, and Guest) and determines which endpoints are accessible. Use the version switcher to select an Adobe Commerce version and corresponding API.  You can also <a href=\"https://developer.adobe.com/commerce/webapi/rest/quick-reference/generate-local\" target=\"_blank\">generate a local API reference</a> based on your own Adobe Commerce configuration, which allows you to see API documentation for your specific Adobe Commerce modules, third-party modules, and extension attributes.

API version: 2.4.7
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package magento

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPI interface {

	/*
		GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}

		Check if password reset token is valid.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param customerId If null is given then a customer will be matched by the RP token.
		@param resetPasswordLinkToken
		@return ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest
	*/
	GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken(ctx context.Context, customerId int32, resetPasswordLinkToken string) ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest

	// GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenExecute executes the request
	//  @return bool
	GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenExecute(r ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest) (bool, *http.Response, error)
}

// CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPIService CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPI service
type CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPIService service

type ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest struct {
	ctx                    context.Context
	ApiService             CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPI
	customerId             int32
	resetPasswordLinkToken string
}

func (r ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenExecute(r)
}

/*
GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}

Check if password reset token is valid.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param customerId If null is given then a customer will be matched by the RP token.
	@param resetPasswordLinkToken
	@return ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest
*/
func (a *CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPIService) GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken(ctx context.Context, customerId int32, resetPasswordLinkToken string) ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest {
	return ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest{
		ApiService:             a,
		ctx:                    ctx,
		customerId:             customerId,
		resetPasswordLinkToken: resetPasswordLinkToken,
	}
}

// Execute executes the request
//
//	@return bool
func (a *CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPIService) GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenExecute(r ApiGetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkTokenAPIService.GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resetPasswordLinkToken"+"}", url.PathEscape(parameterValueToString(r.resetPasswordLinkToken, "resetPasswordLinkToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ErrorResponse
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
